// Colours Absolute - Base
// We are moving away from the SASS Variables for Colors
// Leaving them here temporarily as a safety measure.

$black: #153634;
$orange: #DE6E26;
$teal: #4DACB6;
$yellow: #EFC329;
$red: #BC2C26;
$white: white;

// Text Safe Colors
$teal-dark: #2e666b;
$orange-dark: #A7531D;
$yellow-dark: #8f730c;

// Secondary Colors
$success: #00571d;
$warning: #EFC329;
$error: #BC2C26;


// Colours Relative
$main-color: $orange;
$base-color: $black;

// Tinted colours
$yellow-tint: #FBF0C9;
$yellow-tint-dark: #F7E194;
$yellow-tint-fade: #FEF9EA;
$yellow-tint-light: #FBEFC3;
$orange-tint: #E6925C;
$orange-tint-lighter: #EFB793;
$orange-tint-light: #F7DBC9;
$orange-tint-fade: #FCF0E8;
$blue-tint: #A6D5DA;
$blue-tint-light: #D3EAED;
$blue-tint-fade: #F6FBFB;


:root {
  // $black: #153634;
  // $orange: #DE6E26;
  // $teal: #4DACB6;
  // $yellow: #EFC329;
  // $red: #BC2C26;
  // $white: white;

  // All these variables are HSLA color mode.
  // They are intentionally not calling the HSLa() function,
  // so we can have the option to call them inside the components
  // tweaking the alpha value when necessary.
  // IMPORTANT: Notice that we need the "_hsl.scss" plugin
  // to override the native HSL functions of sass.
  // This prevents a bug between Sass' and Natives HSL function
  // implementation and usage.

  // Gray Scale
  --gray-05-hsl: 0, 0%, 95%;
  --gray-10-hsl: 0, 0%, 90%;
  --gray-20-hsl: 0, 0%, 80%;
  --gray-30-hsl: 0, 0%, 70%;
  --gray-70-hsl: 0, 0%, 30%;
  --gray-80-hsl: 0, 0%, 20%;
  --black-hsl:   0, 0%, 10%;
  --white-hsl:   0, 100%, 100%;

  // Secondary Palette
  --success-green-hsl:  140, 100%, 17%;
  --error-red-hsl:        5,  81%, 95%;
  --warning-yellow-hsl:  45, 78%, 98%;

  // Theme Color - Prototype (HSLa)
  --base-hsl:     176, 44%, 15%;
  --orange-hsl:    23, 74%, 51%;
  --teal-hsl:     186, 42%, 51%;
  --yellow-hsl:    47, 86%, 55%;
  --red-hsl:        2, 66%, 44%;

  // Accessible Colours
  --teal-dark-hsl: 185, 40%, 30%;
  --orange-dark-hsl: 23, 73%, 38%;
  --yellow-dark-hsl: 47, 85%, 30%;

  // Hierarchy Prototypes / Alises
  --default-hsl: var(--base-hsl);
  --primary-hsl: var(--orange-hsl);
  --accent-hsl:  var(--teal-hsl);

  // Color Values for End Users
  // Already calling the color functions.

  // Secondary Palette
  --color-error:   hsla(var(--red-hsl), 1);
  --color-warning: hsla(var(--yellow-hsl), 1);
  --color-success: hsla(var(--success-green-hsl), 1);

  // Primary Palette
  --color-base:     hsla(var(--base-hsl),   1);
  --color-orange:   hsla(var(--orange-hsl), 1);
  --color-teal:     hsla(var(--teal-hsl),   1);
  --color-yellow:   hsla(var(--yellow-hsl), 1);
  --color-red:      hsla(var(--red-hsl),    1);

  --color-orange-dark: hsla(var(--orange-dark-hsl), 1);
  --color-teal-dark:   hsla(var(--teal-dark-hsl),   1);
  --color-yellow-dark: hsla(var(--yellow-dark-hsl), 1);

  // Color Hierarchy
  --color-default: hsla(var(--base-hsl),   1);
  --color-primary: hsla(var(--orange-hsl), 1);
  --color-accent:  hsla(var(--teal-hsl),   1);
}


