{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<header class="layout__header">
  <div class="hero-section">
    <div class="wrapper">
      <div class="hero hero--orange">
        <div class="hero__column hero__logo">
          <a href="/"><img src={% static "/images/360widgets-color.svg" %} alt="360Giving"
              alt="360 "></a>
        </div>
        <div class="hero__column hero__lead">
          <h2 class="hero__title">Visualise grant data in new ways</h2>
          <p class="hero__blurb">Combine and visualise 360Giving, charity and other data to answer questions about your
            grantmaking</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="hero-section">
  <section class="grid grid--four-columns margin-top:2 margin-bottom:2">
    <div class="grid__1">
      <div class="base-card base-card--yellow">
        <div class="base-card__content">
            <h2 class="base-card__title">1</h2>
            <p class="base-card__text">Enter search terms</p>
        </div>
      </div>
    </div>
    <div class="grid__1">
      <div class="base-card base-card--orange">
        <div class="base-card__content">
            <h2 class="base-card__title">2</h2>
            <p class="base-card__text">Select optional filters</p>
        </div>
      </div>
    </div>
    <div class="grid__1">
      <div class="base-card base-card--teal">
        <div class="base-card__content">
            <h2 class="base-card__title">3</h2>
            <p class="base-card__text">Select a widget view</p>
        </div>
      </div>
    </div>
    <div class="grid__1">
      <div class="base-card base-card--red">
        <div class="base-card__content">
            <h2 class="base-card__title">4</h2>
            <p class="base-card__text">Copy the code</p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="cards-section">
  <section class="grid grid--seven-columns">
    <div class="grid__1 box box--yellow flex-centre">
      <h2>1</h2>
    </div>
    <div class="grid__6 box box--yellow">
      {% include 'components/widgets_search.html' %}
    </div>
  </section>
</div>
<div class="cards-section">
  <section class="grid grid--seven-columns">
    <div class="grid__1 box box--orange flex-centre">
      <h2>2</h2>
    </div>
    <div class="grid__6 box box--orange">
      Filters
    </div>
  </section>
</div>
<div class="cards-section">
  <section class="grid grid--seven-columns">
    <div class="grid__1 box box--teal flex-centre">
      <h2>3</h2>
    </div>
    <div class="grid__6 box box--teal">
      Dropdown
    </div>
  </section>
</div>
<div class="cards-section">
  <section class="grid grid--seven-columns">
    <div class="grid__1 box box--red flex-centre">
      <h2>4</h2>
    </div>
    <div class="grid__6 box box--red">
      <div class="code-block">
        <pre>
          <code>
&lt;iframe src="/widgets/tabular"&gt;&lt;/iframe&gt;
          </code>
        </pre>
    </div>
    <h2>Preview</h2>
    <iframe id="scaled-frame" src="/widgets/tabular"></iframe>
  </section>
</div>

<style>
  #wrap {
    width: 750px;
    height: 1500px;
    padding: 0;
    overflow: hidden;
  }
  #scaled-frame {
    width: 1000px;
    height: 400px;
    border: 0px;
  }
  #scaled-frame {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame {
      zoom: 1;
    }
  }
</style>
{% endblock %}

