{% extends 'base.html' %}
{% load i18n %}
{% block main_content %}

<div>
  <h1>{% trans "About GrantNav" %}</h1>

<p>{% blocktrans %}GrantNav is a free-to-use platform that brings together open, comparable grants data published using the 360Giving Standard. GrantNav makes it easy for people to search, explore and download the detail of who, where and how much for thousands of grants given by a wide range of UK grantmakers.{% endblocktrans %}</p> 

<p>{% blocktrans %}Over £8 billion of grants have been shared to the 360Giving Standard and are available to search in GrantNav. For the list of organisations featured in this platform, visit: <a href="http://grantnav.threesixtygiving.org/funders">http://grantnav.threesixtygiving.org/funders</a>.{% endblocktrans %}</p>

<p>{% blocktrans %}New data is added to GrantNav as more organisations publish more of their grants to the 360Giving Standard.{% endblocktrans %}</p> 

<p>{% blocktrans %}GrantNav has been developed to make it easier to find out which organisations have funded which sectors or regions, making it easier to map out the resources that are available and how this may have changed over time. This will help visitors to quickly obtain an overview of other organisations working in the same areas.{% endblocktrans %}</p> 

<p>{% blocktrans %}See here for tips about how to do advanced searches: <a href="http://grantnav.threesixtygiving.org/advanced_search">http://grantnav.threesixtygiving.org/advanced_search</a>.{% endblocktrans %}</p>

<p>{% blocktrans %}For further details about the data used in GrantNav and the tool itself please see the links in the footer below.{% endblocktrans %}</p>

<p>{% blocktrans %}GrantNav was developed for 360Giving by Open Data Services. The project received funding from the Esmée Fairbairn Foundation, Indigo Trust and Nesta.{% endblocktrans %}</p>

<p>{% blocktrans %}We welcome feedback and questions on GrantNav. Please email: <a href="mailto:grantnav@threesixtygiving.org">grantnav@threesixtygiving.org</a>{% endblocktrans %}</p>

<p>&nbsp;</p>
</div>

{% endblock %}
