{% extends 'base.html' %}
{% load i18n %}
{% block main_content %}

<div>
  <h1>{% trans "Advanced Search" %}</h1>
  
  <p>{% blocktrans %}There are many ways you can search the data on this site.{% endblocktrans %}</p>
  <p>{% blocktrans %}Search for:{% endblocktrans %}</p>

<h2>{% trans "Words and phrases" %}</h2>
<ul>
  <li>{% trans "A single word: e.g. people" %}</li>
  <li>{% trans "All words: e.g. young people gardens" %}</li>
  <li>{% trans "Require each word to be found: e.g. young AND people" %}</li>
  <li>{% trans 'An exact phrase by enclosing it in quotes: e.g. "young people"' %}</li>
</ul>

<p>{% blocktrans %}Using the above you can effectively filter the records to a single publisher or an exact grant.<br>Try:{% endblocktrans %}</p>
<ul>
  <li>"The Dulverton Trust"</li>
  <li>"360G-wolfson-19750"</li>
</ul>

<h2>{% trans "Fields" %}</h2>
<ul>
  <li>{% blocktrans %}A specific field: e.g. title:gardens (will search the "title" field for the word "gardens"){% endblocktrans %}</li>
  <li>{% blocktrans %}A field with no value (or is missing): e.g. missing:description (search the field "description" for grants that have no value (or is missing)){% endblocktrans %}</li>
  <li>{% blocktrans %}A field that has any non-null value: e.g. exists:title{% endblocktrans %}</li>
</ul>
<p>{% blocktrans %}Fields are shown on many records. Others you might like to try:{% endblocktrans %}</p>
<ul>
  <li>{% trans "title" %}</li>
  <li>{% trans "description" %}</li>
</ul>

<p>{% blocktrans %}and see the list of field names via the <a href="/stats">stats</a>{% endblocktrans %}.</p>

<h2>{% trans "Ranges" %}</h2>
<h3>{% trans "Dates" %}</h3>

<p>{% blocktrans %}Find grants in a date range:{% endblocktrans %}</p>

<ul>
  <li>{% blocktrans %}Planned start date in 2012: e.g. plannedDates.startDate:[2012-01-01 TO 2012-12-31]{% endblocktrans %}</li>
  <li>{% blocktrans %}Planned start date in 2012 and planned end date in 2014: e.g. plannedDates.startDate:[2012-01-01 TO 2012-12-31] AND plannedDates.endDate:[2014-01-01 TO 2014-12-31]{% endblocktrans %}</li>
</ul>

<h3>{% trans "Amounts" %}</h3>

<ul>
  <li>{% blocktrans %}Amount awarded between £0 and £100: e.g. amountAwarded:[0 TO 100]{% endblocktrans %}</li>
  <li>{% blocktrans %}Amount awarded between £500 and £1000: e.g. amountAwarded:[500 TO 1000]{% endblocktrans %}</li>
</ul>

<p>{% blocktrans %}You can also search ranges with one side unbounded:{% endblocktrans %}</p>

<ul>
  <li>{% blocktrans %}amountAwarded:>1000{% endblocktrans %}</li>
  <li>{% blocktrans %}amountAwarded:>=1000{% endblocktrans %}</li>
  <li>{% blocktrans %}amountAwarded::<1000{% endblocktrans %}</li>
  <li>{% blocktrans %}amountAwarded:<=1000{% endblocktrans %}</li>
</ul>

<p>{% blocktrans %}You can also use the * wildcard (see below) when asking for a range: e.g. amountAwarded:[500 TO *]{% endblocktrans %}</p>

<h2>{% trans "Wildcards" %}</h2>
<p>{% blocktrans %}Wildcard searches can be run on individual terms, using ? to replace a single character, and * to replace zero or more characters: e.g. b?g, you*{% endblocktrans %}</p>

<h2>{% trans "Fuzziness" %}</h2>
<p>{% blocktrans %}You can search for terms that are similar to, but not exactly like our search terms, using the “fuzzy” operator: e.g. youht~ yung~ pple~{% endblocktrans %}</p>

<!--<p>{% blocktrans %}For more examples and functionality see:
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax{% endblocktrans %}</p>-->
  
{% endblock %}
