{% load staticfiles %}
{% load favicon %}
{% load cookielaw_tags %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>360Giving GrantNav</title>
        <meta property="og:title" content="360Giving GrantNav">
        <meta property="og:description" content="Search, explore and download UK grant data from funders publishing open data to the 360Giving Standard">
        <meta name="description" content="Search, explore and download UK grant data from funders publishing open data to the 360Giving Standard">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block extra_style %} {% endblock %}
        <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css'%}">
        <link rel="stylesheet" href="{% static 'fonts/ostrich/ostrich-sans.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/theme.css'%}">
        <link rel="stylesheet" href="{% static 'css/main.css'%}">
        <noscript>
          <style>
            .javascript-enabled {
              display: none !important;
            }
          </style>
        </noscript>

{% get_favicons prefix="favicons/" %}

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {% cookielaw_banner %}
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-vlg-offset-1">
            <div class="navbar-header">
              <a href="/"><span class="navbar-brand">GrantNav</span></a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block main %}
    <div class="main-block">
      <div class="container">
          {% block main_content %}{% endblock %}
      </div> 
    </div> 
    {% endblock %}

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <img src="{% static 'images/360logo_invert.png'%}" height="80" width="196">
            <p class="footer-info">360Giving supports organisations to publish their grants data in an open, standardised way and helps people to understand and use the data to support decision-making and learning across the charitable giving sector.</p>
            <p class="footer-info">Find out more about <a href="http://www.threesixtygiving.org/">360Giving</a></p>
          </div>
          <div class="col-md-4 col-sm-4">
            <p class="footer-info">GrantNav uses open data published to the <a href="http://www.threesixtygiving.org/standard/">360Giving Standard</a>.</p>
            <p class="footer-info">GrantNav enables people to search, filter and download across these datasets, for free.</p>
            <p class="footer-info">For feedback and questions, please email <a href="mailto:grantnav@threesixtygiving.org">grantnav@threesixtygiving.org</a></p>
          </div>
          <div class="col-md-4 col-sm-4">
            <p class="footer-info">Links</p>
            <ul id="menu-footer2" class="footer-menu">
              <li class="menu-item">
                <a href="{% url 'about' %}">About</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'funders' %}">Funders</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'recipients' %}">Recipients</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'help' %}">Help with Using GrantNav</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'terms' %}">Terms and Conditions</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'take_down_policy' %}">Take Down Policy</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'datasets' %}">Data Used in GrantNav</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'datasets' %}#reuse">Reusing GrantNav Data</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'datasets' %}#copyright">Copyright</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'developers' %}">Developers</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="footer-info">360Giving is a company limited by guarantee (Company Number <a href="https://beta.companieshouse.gov.uk/company/09668396">09668396</a>) and a registered charity (Charity Number <a href="http://beta.charitycommission.gov.uk/charity-details/?regid=1164883&subid=0">1164883</a>)</p>
          </div>
        </div>
         <div class="row">
          <div class="col-sm-12">
            <p class="footer-info text-muted">Running version <a href="https://github.com/OpenDataServices/grantnav/tree/{{request.tag}}">{{request.tag}}</a></p>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block models %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
    {% if piwik.url and piwik.site_id %}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      {% block extrapiwik %}{% endblock %}
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ piwik.url }}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{ piwik.site_id }}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="{{ piwik.url }}/piwik.php?idsite={{ piwik.site_id }}" style="border:0;" alt="" /></p></noscript>
    {% endif %}
    <script src="{% static 'cookielaw/js/cookielaw.js'%}"></script>
    <!-- End Piwik Code -->
    </body>
</html>
