{% load frontend %}

<div id="summary-info-model" class="modal" aria-hidden>
    <div class="modal__overlay modal__trigger" data-id="summary-info-model"></div>
    <div class="modal__window">
      <button class="modal__close modal__trigger" data-id="summary-info-model"></button>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Award amounts in other currencies</h4>
        </div>
        <div class="modal-body">
          {% for bucket in results.aggregations.currency_stats.buckets %}
            {% if not forloop.first %}
              {% with currency=bucket|get:"key"|upper %}
                <dl class="dl-horizontal top-stats-search">
                  <dt>Total {{currency}} grants</dt> <dd>{{bucket|get:"amount_stats"|get:"count"|get_amount}}</dd>
                  <dt>Total {{currency}} awarded</dt> <dd>{{currency|currency_symbol}}{{bucket|get:"amount_stats"|get:"sum"|get_amount}}</dd>
                  <dt>Largest {{currency}} award</dt> <dd>{{currency|currency_symbol}}{{bucket|get:"amount_stats"|get:"max"|get_amount}}</dd>
                  <dt>Smallest {{currency}} award</dt> <dd>{{currency|currency_symbol}}{{bucket|get:"amount_stats"|get:"min"|get_amount}}</dd>
                </dl>
                <hr>
              {% endwith %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
