{% extends 'base.html' %}

{% load frontend %}

{% block main_content %}
<div class="layout layout--single-column">
  <div class="grantnav-page__content layout__content">
    <div class="section">

      <h1>GrantNav for developers</h1>

      <h2>Contributing to GrantNav</h2>
      <p>GrantNav is open source software developed by <a href="http://opendataservices.coop">Open Data Services</a> for
        <a href="http://threesixtygiving.org">360Giving</a>. We welcome feedback, comments and pull requests <a href="https://github.com/OpenDataServices/grantnav">on GitHub</a>. We hope that GrantNav provides a useful
        example of how to work with 360Giving data. If you're developing an application that uses 360Giving data, we'd
        love to hear from you - email us at <a href="mailto:info@threesixtygiving.org">info@threesixtygiving.org</a>.
      </p>

      <h2>Programmatic access to data</h2>
      <p>In order to make it easier to prototype and develop applications that use 360Giving data, we offer access to
        the entire GrantNav data set as CSV or JSON:</p>
      <p>
      <p><a href="http://grantnav.threesixtygiving.org/api/grants.json">http://grantnav.threesixtygiving.org/api/grants.json</a>
      </p>
      <p><a href="http://grantnav.threesixtygiving.org/api/grants.csv">http://grantnav.threesixtygiving.org/api/grants.csv</a>
      </p>
      </p>
      <p>The whole data set is several hundred MB and growing, so we recommend that you store the data locally for your
        own application to work from. The data is updated at most once a day (except in case of an error), and usually
        once per month. A list of all data sets and the date on which they were last updated can be found at <a href="http://grantnav.threesixtygiving.org/datasets/#datasets-used">http://grantnav.threesixtygiving.org/datasets/#datasets-used</a>
      </p>
      <p>The GrantNav data set contains data that has been published by organisations. Not all 360Giving data is
        included - any that fails validation, or isn't available under a suitably open license (ie, one that permits
        re-use for any purpose) isn't included. This means that all data in GrantNav is valid against the <a href="http://www.threesixtygiving.org/standard/">360Giving Data Standard</a>, and is available for re-use for
        any purpose.

        The data set also contains augmented data that is not present in the original data set - for example, additional
        location data such as 'ward' and 'region' are added to grant records in order to enable some of GrantNav's
        filtering options to work. See the <a href="http://grantnav.threesixtygiving.org/datasets/">Data used in
          GrantNav</a> page for a full reference of all the data used in creating GrantNav, and the license under which
        the GrantNav data can be used.
      </p>

    </div>
  </div>
</div>
{% endblock %}
