{% extends 'base.html' %}

{% load frontend %}

{% block main_content %}

{% if grants|length > 1 %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Warning:</span>
  There is more than one grant with this ID. We have displayed both below.
</div>
{% endif %}

{% for grant in grants %}
<div class="layout layout--single-column">
  <main class="layout__content">
    <div class="spacer-1">
      <h1 class="heading-in-panel">
          {{ grant.source|get_title }}
        <small>({{grant.source.id}})</small>
      </h1>
    </div>

    {% if grant.source.fundingOrganization.0.id %}
    <div class="spacer-4">
      <div class="grant-info-highlight grid grid--three-columns">
        <div class="grant-info-highlight__funder">
          <div class="grant-info-highlight__label">Funding Organization</div>
          <div>
            <a href="{% url 'org' grant.source.fundingOrganization.0.id %}"> {{ grant.source.fundingOrganization.0 | get_name }} <small>({{ grant.source.fundingOrganization.0.id }}) </small> </a>
          </div>
        </div>

        <div class="grant-info-highlight__data">
          <div class="grant-info-highlight__data--amount">{{grant.source|get_currency}}{{grant.source.amountAwarded|get_amount}}</div>

          <div class="grant-info-highlight__data--infographic">
            {% include 'tokens/infographic-arrow.html' %}
          </div>

          <div class="grant-info-highlight__data--date"><time datetime="{{ grant.source.awardDate }}">{{grant.source.awardDate|get_date}}</time></div>
        </div>
       {% if grant.source.recipientOrganization.0.id %}
        <div class="grant-info-highlight__recipient">
          <div class="grant-info-highlight__label">Recipient Organization</div>
          <div>
            <p><a href="{% url 'org' grant.source.recipientOrganization.0.id %}"> {{ grant.source.recipientOrganization.0|get_name|truncatechars:50 }} <small>({{ grant.source.recipientOrganization.0.id|truncatechars:20}}) </small> </a>
          </div>
        </div>
        {% endif %}

       {% if grant.source.recipientIndividual.id %}
        <div class="grant-info-highlight__recipient">
          <div class="grant-info-highlight__label">Recipient Individual</div>
          <div>
            <p><a href="{% url 'search' %}?query=recipientIndividual.id:{{grant.source.recipientIndividual.id}}" > {{grant.source.recipientIndividual.name}} <small>({{grant.source.recipientIndividual.id}})</small> </a>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
    {% endif %}

    <div class="spacer-1">
      <p> {{ grant.source.description }} </p>
    </div>

    <div class="spacer-4">
      <div class='spacer-4'>
        <div class="box box--teal">
          <h3 class="box__heading">Where is this data from?</h3>
          {% with dataset=grant|get_dataset %}
          <p>
            {% if dataset %}This data was originally published by
            <a href="{% url 'publisher' dataset.publisher.prefix %}">{{dataset.publisher.name}}</a>.
            {% endif %}
            If you see something about your organisation or the funding it has received on this page that doesn't look right you can submit a
            <a href="https://www.threesixtygiving.org/grantee-amendment-requests/?grantnav_url={{ request.build_absolute_uri|urlencode }}">grantee amendment request</a>.
            You can hover over codes from
            <a href="https://standard.threesixtygiving.org/en/latest/technical/codelists/">standard codelists</a>
            to see the user-friendly name provided by 360Giving.
          </p>
          {% endwith %}
        </div>
      </div>

      <div class="panel-heading">
        <h4>Grant Details</h4>
      </div>
      <div class="panel-body">
        <div class="table table--zebra">
          <table class="table table--zebra table--primary dt-responsive full-width">
            <tbody>
              {% for key, value in grant.source|flatten %}
              {% if "additional_data" not in key and "dataType" not in key %}
              <tr>
                <td>
                  <b>{{ key }}</b>
                </td>
                <td>

                  {% if key == "Amount Awarded" and value < 1 %}
                    {{value}}
                    <a href="https://help.grantnav.threesixtygiving.org/en/latest/search_results/#some-grantmakers-publish-grants-with-0-or-negative-values"><img src="/static/images/icon-help-50.png" width="15" height="15" id="zero_value_grant_help_link"></a>

                  {% elif "grantPurpose" in key %}
                    <a href="https://standard.threesixtygiving.org/en/latest/technical/codelists/#grant-to-individuals-purpose"
                      title="{{grant.source.additional_data.codeListLookup.toIndividualsDetails.grantPurpose|join:","}}"
                     >{{value}}
                    </a>

                  {% elif "primaryGrantReason" in key %}
                    <a href="https://standard.threesixtygiving.org/en/latest/technical/codelists/#grant-to-individuals-reason"
                      title="{{grant.source.additional_data.codeListLookup.toIndividualsDetails.primaryGrantReason}}"
                    >{{value}}
                    </a>

                  {% elif "secondaryGrantReason" in key %}
                    <a href="https://standard.threesixtygiving.org/en/latest/technical/codelists/#grant-to-individuals-reason"
                      title="{{grant.source.additional_data.codeListLookup.toIndividualsDetails.secondaryGrantReason}}"
                    >{{value}}
                    </a>

                  {% elif "Regrant" in key %}
                    <a href="https://standard.threesixtygiving.org/en/latest/technical/codelists/#regrant-type"
                      title="{{grant.source.additional_data.codeListLookup.regrantType}}"
                    >{{value}}
                    </a>

                  {% else %}
                  {{value}}
                  {% endif %}
                </td>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="spacer-2">
      <button class="button" onClick='$("#additional-data-section").toggle()'>Show Additional Data</button>
    </div>

    <div class="spacer-4" style="display:none" id="additional-data-section">
      <div class="panel-default bottom-space">
        <div class="panel-heading"><h4>Additional data added by ThreeSixtyGiving</h4></div>
          <div class="spacer-4">
            <div class="box box--teal">
              <h3 class="box__heading">Where is this data from?</h3>
              <p>We use additional data sources via <a href="https://github.com/drkane/geo-lookups/">Geo Lookups</a>, <a
                href="https://findthatcharity.uk">FindThatCharity</a>, <a href="https://geoportal.statistics.gov.uk/">The ONS</a>,
              <a href="https://www.gov.uk/government/organisations/charity-commission">The Charity Commission</a> and <a href="https://findthatpostcode.uk">Find
                That Postcode</a>. <strong>Note: This data has been added automatically and has
              not been verified.</strong></p>
            </div>
          </div>
        <div class="table table--zebra">
          <table class="table table--zebra table--secondary dt-responsive full-width">
            <tbody>
              {% for key, grant in grant.source|flatten %}
              {% if "additional_data" in key %}
              <tr> <td style="width: 40%"> <b>{{ key }} </b> </td> <td> {{grant}} </td>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </main>
</div>
{% endfor %}

{% endblock %}
