{% extends 'base.html' %}

{% load frontend %}

{% block main_content %}

{% if grants|length > 1 %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Warning:</span>
  There is more than one grant with this ID. We have displayed both below.
</div>
{% endif %}

{% for grant in grants %}
<div class="layout layout--single-column">
  <main class="layout__content">
    <div class="spacer-1">
      <h1 class="heading-in-panel">
          {{ grant.source|get_title }}
        <small>({{grant.source.id}})</small>
      </h1>
    </div>

    {% if grant.source.fundingOrganization.0.id and grant.source.recipientOrganization.0.id %}
    <div class="spacer-4">
      <div class="grant-info-highlight grid grid--three-columns">
        <div class="grant-info-highlight__funder">
          <div class="grant-info-highlight__label">Funding Organization</div>
          <div>
            <a href="{% url 'org' grant.source.fundingOrganization.0.id %}"> {{ grant.source.fundingOrganization.0 | get_name }} <small>({{ grant.source.fundingOrganization.0.id }}) </small> </a>
          </div>
        </div>

        <div class="grant-info-highlight__data">
          <div class="grant-info-highlight__data--amount">{{grant.source|get_currency}}{{grant.source.amountAwarded|get_amount}}</div>

          <div class="grant-info-highlight__data--infographic">
            {% include 'tokens/infographic-arrow.html' %}
          </div>

          <div class="grant-info-highlight__data--date"><time datetime="{{ grant.source.awardDate }}">{{grant.source.awardDate|get_date}}</time></div>
        </div>

        <div class="grant-info-highlight__recipient">
          <div class="grant-info-highlight__label">Recipient Organization</div>
          <div>
            <p><a href="{% url 'org' grant.source.recipientOrganization.0.id %}"> {{ grant.source.recipientOrganization.0|get_name|truncatechars:50 }} <small>({{ grant.source.recipientOrganization.0.id|truncatechars:20}}) </small> </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="spacer-1">
      <p> {{ grant.source.description }} </p>
    </div>

    <div class="spacer-4">
      <div class='spacer-4'>
        <div class="box box--teal">
          <h3 class="box__heading">Where is this data from?</h3>
          {% with dataset=grant|get_dataset %}
          <p>This data was originally published by <a href="{% url 'publisher' dataset.publisher.prefix %}">{{dataset.publisher.name}}</a>. If you need to report a problem in the data please contact {{ dataset.publisher.name }} directly, see their <a href="{% url 'publisher' dataset.publisher.prefix %}">GrantNav publisher page</a> for more information.</p>
          {% endwith %}
        </div>
      </div>

      <div class="panel-heading">
        <h4>Grant Details</h4>
      </div>
      <div class="panel-body">
        <div class="table table--zebra">
          <table class="table table--zebra table--primary dt-responsive full-width">
            <tbody>
              {% for key, grant in grant.source|flatten %}
              {% if "additional_data" not in key %}
              <tr>
                <td>
                  <b>{{ key }}</b>
                </td>
                <td>
                  {{grant}}
                  {% if key == "Amount Awarded" and grant == 0 %}
                    <a href="https://help.grantnav.threesixtygiving.org/en/latest/search_results.html?#some-grantmakers-publish-grants-with-0-or-negative-values"><img src="/static/images/icon-help-50.png" width="15" height="15" id="zero_value_grant_help_link"></a>
                  {% endif %}
                </td>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="spacer-2">
      <button class="button" onClick='$("#additional-data-section").toggle()'>Show Additional Data</button>
    </div>

    <div class="spacer-4" style="display:none" id="additional-data-section">
      <div class="panel-default bottom-space">
        <div class="panel-heading"><h4>Additional data added by ThreeSixtyGiving</h4></div>
          <div class="spacer-4">
            <div class="box box--teal">
              <h3 class="box__heading">Where is this data from?</h3>
              <p>We use additional data sources via <a href="https://github.com/drkane/geo-lookups/">Geo Lookups</a>, <a
                href="https://findthatcharity.uk">FindThatCharity</a>, <a href="https://geoportal.statistics.gov.uk/">The ONS</a>,
              <a href="https://charitycommission.gov.uk">The Charity Commission</a> and <a href="https://findthatpostcode.uk">Find
                That Postcode</a> we are able to add further data to Grants. <strong>Note: This data has been added automatically and has
              not been verified.</strong></p>
            </div>
          </div>
        <div class="table table--zebra">
          <table class="table table--zebra table--secondary dt-responsive full-width">
            <tbody>
              {% for key, grant in grant.source|flatten %}
              {% if "additional_data" in key %}
              <tr> <td style="width: 40%"> <b>{{ key }} </b> </td> <td> {{grant}} </td>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </main>
</div>
{% endfor %}

{% endblock %}
