{% extends 'base.html' %}

{% load frontend %}

{% block main_content %}

{% if grants|length > 1 %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Warning:</span>
  There is more than one grant with this ID. We have displayed both below.
</div>
{% endif %}

{% for grant in grants %}

  <div class="row">
    <div class="col-xs-12">
      <h1 class="heading-in-panel">
          {{ grant.source|get_title }}
        <small>({{grant.source.id}})</small>
      </h1>
      <p> {{ grant.source.description }} </p>
    </div>

    {% if grant.source.fundingOrganization.0.id and grant.source.recipientOrganization.0.id %}
    <div class="col-xs-5">
      <div class="panel panel-default fixed-org-height">
        <div class="panel-body">
          <b>Funding Organization </b> 
          <p><a href="{% url 'funder' grant.source.fundingOrganization.0.id %}"> {{ grant.source.fundingOrganization.0 | get_name }} <small>({{ grant.source.fundingOrganization.0.id }}) </small> </a> </p>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
          <p class="text-center"> 
          {{grant.source|get_currency}}{{grant.source.amountAwarded|get_amount}} </br>  
          <span class="glyphicon glyphicon-arrow-right large-arrow" style="font-size:40px" aria-hidden="true"></span> </br>
          {{grant.source.awardDate|get_date}} </p>
    </div>
    <div class="col-xs-5">
      <div class="panel panel-default fixed-org-height">
        <div class="panel-body">
          <b>Recipient Organization </b> 
          <p><a href="{% url 'recipient' grant.source.recipientOrganization.0.id %}"> {{ grant.source.recipientOrganization.0|get_name|truncatechars:50 }} <small>({{ grant.source.recipientOrganization.0.id|truncatechars:20}}) </small> </a> </p>
        </div>
      </div>
    </div>
    {% endif %}


    <div class="col-xs-12">
      <div id="provenance" class="alert alert-info" role="alert">
        <p>Where is this data from?</p>
        {% with dataset=grant|get_dataset %}
          <p>This data was originally published by <a href="{% url 'publisher' dataset.publisher.prefix %}">{{dataset.publisher.name}}</a>. If you need to report a problem in the data please contact {{ dataset.publisher.name }} directly, see <a href="{% url 'publisher' dataset.publisher.prefix %}">their GrantNav publisher page</a> for more information.
        {% endwith %}
      </div>
      <div class="panel panel-default bottom-space">
        <div class="panel-heading">Grant details</div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              {% for key, grant in grant.source|flatten %}
              <tr> 
                <td style="width: 40%"> <b>{{ key }}</b> 
                </td> 
                <td> 
                  {{grant}}
                  {% if key == "Amount Awarded" and grant == 0 %}
                    <a href="/help#zero_value_grants"><img src="/static/images/icon-help-50.png" width="15" height="15"></a>
                  {% endif %} 
                </td>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="panel panel-default bottom-space">
        <div class="panel-heading">Additional data added by GrantNav</div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              {% for key, grant in grant.source|get_additional_fields %}
              <tr> <td style="width: 40%"> <b>{{ key }} </b> </td> <td> {{grant}} </td>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
