{% extends 'base.html' %}
{% load i18n %}
{% block main_content %}

<div class="layout layout--single-column">
  <div class="grantnav-page__content layout__content spacer-10">
    <div>
      <h1>Help with using GrantNav</h1>

      <p>GrantNav is a search-engine for grants data that is published by funders in the 360Giving Data Standard. You can use the search results to see summary statistics or browse through the different grants, and click through to explore the data in more detail. GrantNav is not a visualisation tool nor a map, but does help you obtain the data you need for further analysis. This page will help you to get the most out of GrantNav.</p>

      <h2>Search</h2>

      <ul>
        <li><a href="#search_box">How does the GrantNav search box work?</a></li>
        <li><a href="#advanced_search">Advanced search</a></li>
        <ul>
          <li><a href="#words_phrases">Words and phrases</a></li>
          <li><a href="#fields">Fields</a></li>
          <li><a href="#ranges">Ranges</a></li>
          <li><a href="#wildcards">Wildcards</a></li>
          <li><a href="#fuzziness">Fuzziness</a></li>
        </ul>
      </ul>    

      <h2>Results</h2>

      <ul>
        <li><a href="#filters">How do the GrantNav filters work?</a></li>
        <li><a href="#cant_find_results">Why can't I find results that I know should match the search criteria?</a></li>
        <li><a href="#feedback_on_data">How can I give feedback on data in GrantNav?</a></li>
        <li><a href="#zero_value_grants">Why do some grants show an award of £0?</a></li>
      </ul>

      <h2>Data In GrantNav</h2>
      <ul>
        <li><a href="#beneficiary_data">Why do GrantNav filters show recipient rather than beneficiary location?</a></li>
        <li><a href="#data_in_grantnav">What data is in GrantNav?</a></li>
        <li><a href="#additional_data">Additional data and GrantNav</a></li>
        <ul>
          <li><a href="#location_data">GrantNav and location data</a></li>
          <li><a href="#charity_names">GrantNav and charity names</a></li>
        </ul>
        <li><a href="#export_files">What is included in the GrantNav export files?</a></li>
        <ul>
          <li><a href="#export_search">Exporting from a search</a></li>
          <li><a href="#export_funders_recipients">Exporting from the funders and recipient pages</a></li>
        </ul>
      </ul>

      <br />
      <br />
      <br />
      <h1>Search</h1>
      <br />


      


      <br />
      <br />
      
      <h2 id="feedback_on_data">How can I give feedback on data in GrantNav?</h2>
      <p>All of the data in GrantNav is downloaded directly from the organisations listed and is presented without change. Any queries or feedback that you have about the data itself should be directed to the individual organisation. To find out who published a particular grant, and to see more information about how to contact them, see the “Where is this data from?” section of the relevant grant’s page. </p>


      <br />
      <br />
      <br />
    </div>
  </div>
</div>
  





  

  

  {% endblock %}
