{% extends "base.html" %}
{% load frontend %}
{% load static %}
{% block main_content %}
<div class="layout layout--single-column">
  <main class="layout__content">
    <div class="spacer-1">
      <h1 class="heading-in-panel">{{ main_name }}</h1>
    </div>

    <div class="media-card media-card--base">
      <div class="media-card__content_no_image">
       <div style="display: inline-block" class="pull-right">
          <a class="alert-tag alert-tag--anchor" href="https://help.grantnav.threesixtygiving.org/en/latest/organisations.html">
            <span class="alert-tag__icon"><svg width="16" height="16" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5.83333C6.70833 5.83333 6.41667 6.06667 6.41667 6.41667V9.91667C6.41667 10.2667 6.65 10.5 7 10.5C7.29167 10.5 7.58333 10.2667 7.58333 9.91667V6.41667C7.58333 6.125 7.29167 5.83333 7 5.83333ZM7 3.5C6.70833 3.5 6.41667 3.73333 6.41667 4.08333C6.41667 4.375 6.65 4.66667 7 4.66667C7.29167 4.66667 7.58333 4.43333 7.58333 4.08333C7.58333 3.79167 7.29167 3.5 7 3.5ZM7 0C3.15 0 0 3.15 0 7C0 10.85 3.15 14 7 14C10.85 14 14 10.85 14 7C14 3.15 10.85 0 7 0ZM7 12.8333C3.79167 12.8333 1.16667 10.2083 1.16667 7C1.16667 3.79167 3.79167 1.16667 7 1.16667C10.2083 1.16667 12.8333 3.79167 12.8333 7C12.8333 10.2083 10.2083 12.8333 7 12.8333Z" fill="#1D1536"></path>
          </svg>
          </span>
            <span class="alert-tag__content">Learn more about organisations</span>
          </a>
        </div>


        <header class="media-card__header">
          <h3 class="media-card__heading">Organisation Information</h3>
       </header>

        <div class="media-card__box_container">

          <div class="media-card__box">
            <strong>Type</strong><br />
            {% for org_type in org_types %}
            <a href="#{{org_type}}">{{org_type}}</a>{% if forloop.counter != org_types|length %},{% endif %}
            {% endfor %}
          </div>

          <div class="media-card__box">
            <strong>Org IDs</strong> <br/>
            {{org_ids|join:", "}}
          </div>

          {% if other_names %}
          <div class="media-card__box">
            <strong>Other Names</strong> <br/>
            {{other_names|join:", "}}
          </div>
          {% endif %}
        </div>
        {% if org_types|length > 1 %}
        <p>{{ main_name }} has been identified using different organisation identifiers within the 360Giving data. This may be, for example, because they are both a registered charity and a registered company  and different publishers have used either a company or charity number to identify them.</p>
        {% endif %}

        {% if other_names %}
        <p>{{ main_name }} has been referred to using several different names in the 360Giving data. This may be because a publisher has abbreviated the name or used an alternative spelling, or the name has changed over time. In other cases, one organisation identifier is shared by multiple entities (for example subsidiaries or branches of the same organisation) receiving distinct grants.</p>
        {% endif %}

        {% if ftc_data %}
          <button class="button" onClick='$("#additional-data-section").toggle()'>Show Additional Data</button>
          <div id="additional-data-section" style="display:none;">
            <div class="spacer-2"></div>
            <div class="table table--zebra">
              <table class="table table--zebra table--secondary dt-responsive full-width">
                <tbody>
                  {% for key, val in ftc_data|flatten %}
                  <tr>
                    <td style="width: 40%"> <b>{{ key }} </b> </td>
                    <td> {{val}} </td>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="spacer-2"></div>
            <p>Data sourced from <a href="https://findthatcharity.uk/orgid/{{org_ids.0}}">"{{org_names.0}}" on FindThatCharity</a>.
          </div>
          {% endif %}

          </div>
    </div>

    <div class="spacer-4"></div>

    {% if funder %}
      {% include 'components/org-page-funder.html' %}
    {% endif  %}

    <div class="spacer-4"></div>
    {% if recipient %}
      {% include 'components/org-page-recipient.html' %}
    {% endif  %}

    <div class="spacer-4"></div>
    {% if publisher %}
      {% include 'components/org-page-publisher.html' %}
    {% endif  %}
  </main>
</div>
{% endblock %}
{% block extra_style %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/1.4.1/css/scroller.dataTables.min.css">
{% endblock %}
{% block extra_scripts %}
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/scroller/1.4.1/js/dataTables.scroller.min.js"
></script>

{# https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#json-script #}
{{ funder.org_ids|json_script:"orgIDs" }}

<script>
    function truncate(string, len){
      if (string.length > len)
          return string.substring(0,len)+'...';
      else
          return string;
    };

  jQuery(function($) {
    $('#recipients_datatable').dataTable({
      "serverSide": true,
      "responsive": true,
      "searching": true,
      "autoWidth": false,
      "scrollY": 400,
      "scroller": true,
      "dom": "fit",
      "scroller": {"displayBuffer": 15,
                    "loadingIndicator": true},
      "order": [[2, "desc"]],
      "language": {
          "info": "_START_ to _END_ of _TOTAL_",
          "search": "Search Recipients"
      },
      "ajax": {
        "url": "{% url 'funder_recipients_datatables' %}",
        "data": function ( d ) {
          d.funder_id = document.getElementById('orgIDs').textContent;
          d.currency = "{{funder.stats_by_currency.0.currency|escapejs}}";
        }
      },
      "columns": [
        {"data": "org_name", "width": "10px", "render": function (data, type, row) {
            return '<a href="/org/' + encodeURIComponent(row.org_id) + '">' + truncate(data, 20) + '</a>'
        }},
        {"data": "count"},
        {"data": "sum", "className": "amount"},
        {"data": "avg", "className": "amount"},
        {"data": "max", "className": "amount"},
        {"data": "min", "className": "amount"}
      ]
    });
  })
</script>
{% endblock %}
{% block modals %}
  {% include 'currency_stats_modal.html' %}
{% endblock %}
