{% extends 'base.html' %}

{% load frontend %}

{% block main_content %}
<h1 class="funder-header text-center">
{{ publisher.name }}
</h1>

{% if publisher.website %}
<p><a href="{{ publisher.website }}">Publisher website</a></p>
{% endif %}

{% if publisher.datasets.0.distribution.0.accessURL %}
<p><a href="{{ publisher.datasets.0.distribution.0.accessURL }}">Publisher's web page about these datasets</a></p>
{% endif %}

<h2>Datasets</h2>

<table class="table table-condensed table-bordered table-striped dt-responsive">
<thead>
    <tr>
        <th>Dataset</th>
        <th>Downloaded for use in GrantNav</th>
        <th>License</th>
    </tr>
</thead>
<tbody>
    {% for dataset in publisher.datasets %}
    <tr>
        <td><a href="{{ dataset.distribution.0.downloadURL }}">{{ dataset.title }}</a></td>
        <td>{{ dataset.datagetter_metadata.datetime_downloaded }}</td>
        <td><a href="{{ dataset.license }}">{{ dataset.license }}</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
