{% extends 'base.html' %}

{% load frontend %}
{% load static %}

{% block main_content %}

<div class="layout layout--single-column layout">
  <div class="grantnav-page__wrapper grantnav-page__content layout__content">

    <div class="section">
      <h1 class="page-title">Recipients</h1>
    </div>

    <div class="section">
      <div class="grantnav-datatable__content--filters">
        [text-here]
        <div class="export-wrapper">

          <div class="export-label">Export search data:</div>

          <div class="export-button">
            {% include 'components/export-data-button--csv.html' with data_function='funder_recipients_datatables.csv' %}
          </div>

          <div class="export-button">
            {% include 'components/export-data-button--json.html' with data_function='funder_recipients_datatables.json' %}
          </div>

        </div>
      </div>
    </div>

    <div class="section">
      <table class="table table--zebra table--primary dt-responsive" id="recipients_datatable" style="width: 100%">
        <thead>
          <tr>
            <th>Recipient</th>
            <th>Grants</th>
            <th>Total</th>
            <th>Average</th>
            <th>Largest</th>
            <th>Smallest</th>
          </tr>
        </thead>
      </table>
    </div>

  </div>
</div>
{% endblock %}

{% block extra_style %}
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/1.4.1/css/scroller.dataTables.min.css">
{% endblock %}

{% block extra_scripts %}
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/scroller/1.4.1/js/dataTables.scroller.min.js"></script>

   <script>
      function truncate(string, len){
         if (string.length > len)
            return string.substring(0,len)+'...';
         else
            return string;
      };

     jQuery(function($) {
       $('#recipients_datatable').dataTable({
         "serverSide": true,
         "responsive": true,
         "searching": true,
         "autoWidth": false,
         "scrollY": 500,
         "scroller": true,
         "dom": "fit",
         "scroller": {"displayBuffer": 15,
                      "loadingIndicator": true},
         "order": [[2, "desc"]],
         "language": {
             "info": "_START_ to _END_ of _TOTAL_",
             "search": "Search"
         },
         "ajax": {
           "url": "{% url 'funder_recipients_datatables' %}"
         },
         "columns": [
           {"data": "org_name", "width": "10px", "render": function (data, type, row) {
               return '<a href="/recipient/' + encodeURIComponent(row.org_id) + '">' + truncate(data, 60) + '</a>'
           }},
           {"data": "count"},
           {"data": "sum", "className": "amount"},
           {"data": "avg", "className": "amount"},
           {"data": "max", "className": "amount"},
           {"data": "min", "className": "amount"}
         ]
       });
     })
   </script>
{% endblock %}
