{% extends 'base.html' %}
{% load frontend %}
{% load static %}

{% block header %}
  {% include 'components/search-block--advanced.html' %}
{% endblock %}

{% block main_content %}
  <main class="layout__content">

    <div class="grantnav-search__wrapper">
      <div class="grantnav-search__sidebar">
        {% if results and results.hits.hits %}
          <h2 class="grantnav-search__sidebar--heading">Refine your search</h2>

          <div class="inline-block">
            {% include 'components/alert-tag--anchor.html' %}
          </div>

          <div class="grantnav-search__sidebar--filters">
            {% include 'components/filter-wrapper.html' %}
          </div>
        {% endif %}
      </div>
      {% if results and results.hits.hits %}
        <div class="grantnav-search__content">
          {% include 'components/search-summary-description.html' %}

          {% include 'components/search-summary-box.html' %}

          {% include 'components/results-title.html' %}


          {% include 'components/download-data.html' %}

          {% if selected_facets %}
            {% include 'components/filter-summary.html' %}
          {% endif %}

        <div class="card-view">
            <section class="grantnav-search__content--filters margin-bottom:0 margin-top:0">
            {% include 'components/dropdown-filter.html' with required=True options=dropdownFilterOptions %}

            </section>

            <section class="grantnav-search__content--results">
            {% for result in results.hits.hits %}
              {% include 'components/grant-search-result.html' with result=result %}
            {% endfor %}
            </section>

            <section class="grantnav-search__content--footer">
              {% include 'components/pager.html' %}
            </section>
          </div>

          <div class="table-view" style="display: none;">
            <section class="grantnav-search__content--results">
              {% include 'components/grants_table.html' %}
            </section>
          </div>

        </div>
      </div>
      {% elif results %}

      <div class="spacer-4">
          <div id="no-results">
            <h1>No Results</h1>

            {% if selected_facets %}
              {% include 'components/filter-summary.html' %}
              <div class="spacer-4"></div>
            {% endif %}

            <p>Your search - <strong>"{{text_query}}"</strong> - did not match any grant records.<br>Try something like</p>
            <ul>
              <li>Using more general terms</li>
              <li>Checking your spelling</li>
              <li>Removing some filters</li>
            </ul>
            <p>Or <a href="{% url 'search' %}">clear your search</a>.</p>
          </div>
      </div>

    {% elif search_error %}

      <div class="spacer-4">
          <div id="not_valid">
            <h1>Search input is not valid</h1>
            <p>We can't find what you tried to search for.<br>Try something like:</p>
            <ul>
            <li>Using more general terms</li>
            <li>Checking your spelling</li>
          </div>
      </div>
    {% endif %}
  </main>
{% endblock %}


{% block extra_style %}
{% include 'components/grants_table_styles.html' %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block extra_scripts %}

{% include 'components/grants_table_scripts.html' %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.1/URI.min.js"></script>

<script>
// This returns the html for select2 to render each item in the dropdown.
function formatDropdownItem (item) {
  if (item.loading) {
    return;
  }

  let html = '<div class="filter-list__form--checkbox-item">';
  html += '<input class="screen-reader-only" value="" type="checkbox">';
  html += '<label></label>';
  html += '</div>';
  const $dropdownItem = $(html);

  $dropdownItem.find('input').val(item.id).prop('id', item.id);

  if (item.selected) {
    $dropdownItem.find('input').prop('checked', 'checked');
  }

  const dropText = $dropdownItem.find('label').prop('for', item.id).text(item.text);

  if (item.count) {
    const small = $('<small> (' + item.count + ')</small>');
    dropText.append(small);
  }

  return $dropdownItem;
}

$(document).ready(function () {
  // eslint-disable-next-line no-constant-condition
  if ('{{ view_mode }}' === 'card') {
    $('input[type=radio][name=results-switcher][value="card"]').prop('checked', true);
    $('.card-view').css('display', 'block');
    $('.table-view').css('display', 'none');
    $('.results-title__subtitle').css('display', 'inline');
    $('#search_grants_datatable').DataTable().responsive.recalc();
    $('#search_grants_datatable').DataTable().columns.adjust();
  // eslint-disable-next-line no-constant-condition
  } else if ('{{ view_mode }}' === 'table') {
    $('input[type=radio][name=results-switcher][value="table"]').prop('checked', true);
    $('.card-view').css('display', 'none');
    $('.table-view').css('display', 'flex');
    $('.results-title__subtitle').css('display', 'none');
    $('#search_grants_datatable').DataTable().responsive.recalc();
    $('#search_grants_datatable').DataTable().columns.adjust();
  } else {
    $('input[type=radio][name=results-switcher][value="card"]').prop('checked', true);
  }

  $('input[type=radio][name=results-switcher]').change(function () {
    const query = window.location.search;
    const urlParams = new URLSearchParams(query);
    if (this.value === 'card') {
      urlParams.set('view_mode', 'card');
    } else if (this.value === 'table') {
      urlParams.set('view_mode', 'table');
    }
    window.location.search = urlParams;
  });
});

// This returns the html for select2 to render each tag in the select box.
function formatSelection (item) {
  let html = '<a class="remove-select2-option" href="">';
  html += '<span class="filter-summary__filters-item--label"></span>';
  // This is ugly bet needed for the select2 to display the same cross as in the theme.
  html += '<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">';
  html += '<path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L3.58579 5L0.292893 8.29289C-0.0976311 8.68342 -0.0976311 9.31658 0.292893 9.70711C0.683417 10.0976 1.31658 10.0976 1.70711 9.70711L5 6.41421L8.29289 9.70711C8.68342 10.0976 9.31658 10.0976 9.70711 9.70711C10.0976 9.31658 10.0976 8.68342 9.70711 8.29289L6.41421 5L9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L5 3.58579L1.70711 0.292893Z" fill="#DE6E24"></path>';
  html += '</svg>';
  html += '</a>';

  const $selection = $(html);
  $selection.prop('href', item.id);
  if (item.text.length > 28) {
    item.text = item.text.substring(0, 25) + '...';
  }
  $selection.find('span').text(item.text);
  return $selection;
}

// Runs the ajax call for select2 adding parent_field and filter query to the existing url params
function get_filter_search_ajax (parent_field, child_field) {
  return {
    url: '/filter_search_ajax',
    delay: 100,
    traditional: true, // this makes sure that multiparams are repeated when the value is a list.
    data: function (params) {
      // true here just returns an object. For multiparams this will give you a list as the values.
      const query_obj = URI(window.location.href).search(true);
      query_obj.parent_field = parent_field;
      query_obj.child_field = child_field;
      query_obj.filter_search = params.term;
      return query_obj;
    }
  };
}

// when a new item is selected then refresh the page
function redirect_on_selection (param, data) {
  /* Ajax route OR template route */
  const url = data.url || data.element.dataset.url;

  const uri = URI(url);

  uri.removeSearch('exclude_' + param);
  if ($('#' + param + '-exclude').prop('checked')) {
    uri.addSearch('exclude_' + param, 'true');
  }
  window.location.href = uri.toString();
}

// refresh the page when moving from exclude to include selection.
// BUT do not do this if there is no curent selection
function maybe_redirect_on_exclude (param) {
  if ($('.' + param + '-search-box').select2('data').length === 0) {
    return;
  }

  const uri = URI(window.location.href);

  uri.removeSearch('exclude_' + param);
  if ($('#' + param + '-exclude').prop('checked')) {
    uri.addSearch('exclude_' + param, 'true');
  }
  window.location.href = uri.toString();
}

$(function () {
  $.fn.select2.amd.require(['select2/selection/search'], function (Search) {
    // this is to prevent backspace from removing selections
    Search.prototype.searchRemoveChoice = function () {
    };

    /* Note we use funder_options as the template options for the rest of the
      select2 inputs */
    const funder_options = {
      width: '100%',
      templateResult: formatDropdownItem,
      templateSelection: formatSelection,
      dropdownCssClass: 'filter-list filter-list--with-checkboxes',
      placeholder: 'Search for funding organizations',
      ajax: get_filter_search_ajax('fundingOrganization', 'id_and_name')
    };

    let recipient_options = $.extend({}, funder_options);

    recipient_options = $.extend(recipient_options, {
      placeholder: 'Search for recipient organizations',
      ajax: get_filter_search_ajax('recipientOrganization', 'id_and_name')
    });

    let programme_options = $.extend({}, funder_options);

    programme_options = $.extend(programme_options, {
      placeholder: 'Search for grant programme titles',
      ajax: get_filter_search_ajax('grantProgramme', 'title_keyword')
    });

    let district_options = $.extend({}, funder_options);
    district_options = $.extend(district_options, {
      placeholder: 'Search for a district',
      ajax: get_filter_search_ajax('additional_data', 'recipientDistrictName')
    });

    /* Organisations */
    $('.fundingOrganization-search-box').select2(funder_options);
    $('.recipientOrganization-search-box').select2(recipient_options);
    /* Grant Programmes */
    $('.grantProgramme-search-box').select2(programme_options);
    /* Geography */
    $('.recipientDistrictName-search-box').select2(district_options);
    $('.recipientOrgDistrictName-search-box').select2({
      width: '100%',
      templateResult: formatDropdownItem,
      templateSelection: formatSelection,
      dropdownCssClass: 'filter-list filter-list--with-checkboxes',
      placeholder: 'Search for Recipient Organisation District'
    });
    $('.beneficiaryDistrictName-search-box').select2({
      width: '100%',
      templateResult: formatDropdownItem,
      templateSelection: formatSelection,
      dropdownCssClass: 'filter-list filter-list--with-checkboxes',
      placeholder: 'Search for Beneficiary District'
    });

    /* Selecting */
    $('.fundingOrganization-search-box').on('select2:select', function (e) {
      const data = e.params.data;
      redirect_on_selection('fundingOrganization', data);
    });

    $('.recipientOrganization-search-box').on('select2:select', function (e) {
      const data = e.params.data;
      redirect_on_selection('recipientOrganization', data);
    });

    $('.grantProgramme-search-box').on('select2:select', function (e) {
      const data = e.params.data;
      redirect_on_selection('grantProgramme', data);
    });

    $('.recipientDistrictName-search-box').on('select2:select', function (e) {
      const data = e.params.data;
      redirect_on_selection('recipientDistrictName', data);
    });

    $('.recipientOrgDistrictName-search-box').on('select2:select', function (e) {
      const data = e.params.data;
      redirect_on_selection('recipientOrgDistrictName', data);
    });

    $('.beneficiaryDistrictName-search-box').on('select2:select', function (e) {
      const data = e.params.data;
      redirect_on_selection('beneficiaryDistrictName', data);
    });

    /* End selecting */

    /* Excluding */

    $('#fundingOrganization-select input[type=radio]').on('change', function (e) {
      maybe_redirect_on_exclude('fundingOrganization');
    });

    $('#recipientOrganization-select input[type=radio]').on('change', function (e) {
      maybe_redirect_on_exclude('recipientOrganization');
    });

    $('#grantProgramme-select input[type=radio]').on('change', function (e) {
      maybe_redirect_on_exclude('grantProgramme');
    });

    $('#recipientDistrictName-select input[type=radio]').on('change', function (e) {
      maybe_redirect_on_exclude('recipientDistrictName');
    });

    $('#recipientOrgDistrictName-select input[type=radio]').on('change', function (e) {
      maybe_redirect_on_exclude('recipientOrgDistrictName');
    });

    $('#beneficiaryDistrictName-select input[type=radio]').on('change', function (e) {
      maybe_redirect_on_exclude('beneficiaryDistrictName');
    });

    /* End excluding */
  });

  $('body').on('click', '.remove-select2-option', function (e) {
    // keep select box closed when removing a selection
    $('.filter-search-box').select2('close');
  });

  $('#datepicker').datepicker({
    format: 'mm/yyyy',
    startDate: '01/1990',
    endDate: '{% now "12/Y" %}',
    startView: 2,
    minViewMode: 1,
    maxViewMode: 2,
    autoclose: true,
    defaultViewDate: '01/2010'
  });
});

/* filterElements is used by filter-list-generic-checkboxes template which gets included in this template */
// eslint-disable-next-line no-unused-vars
function filterElements (event, selector) {
  const inputText = event.srcElement.value;
  const elements = document.querySelectorAll(selector);

  for (const element of elements) {
    const elementText = element.textContent.trim().toLowerCase();
    const isVisible = elementText.startsWith(inputText.toLowerCase());

    element.style.display = isVisible ? 'block' : 'none';
  }
}

/* modal toggle handlers */
document.querySelectorAll('.modal__trigger').forEach(function (el) {
  el.onclick = function () {
    const target = el.getAttribute('data-id');
    const modal = document.getElementById(target);
    const body = document.getElementsByTagName('body');

    if (modal.hasAttribute('aria-hidden')) {
      modal.removeAttribute('aria-hidden');
      modal.classList.add('modal--shown');
      body[0].classList.add('modal--shown');
    } else {
      modal.setAttribute('aria-hidden', '');
      modal.classList.remove('modal--shown');
      body[0].classList.remove('modal--shown');
    }
  };
});
</script>
{% endblock %}
