{% extends 'base.html' %}
{% load frontend %}
{% load static %}

{% block header %}
  {% include 'components/search-block--advanced.html' %}
{% endblock %}

{% block main_content %}
  <main class="layout__content">

    <div class="grantnav-search__wrapper">
      <div class="grantnav-search__sidebar">
        <h2 class="grantnav-search__sidebar--heading">Refine your search</h2>

        <div class="inline-block">
          {% include 'components/alert-tag--anchor.html' %}
        </div>

        <div class="grantnav-search__sidebar--filters">
          {% include 'components/filter-wrapper.html' %}
        </div>
      </div>
      {% if results and results.hits.hits %}
        <div class="grantnav-search__content">
          {% include 'components/search-summary-description.html' %}

          {% include 'components/results-title.html' %}

            <div class="panel spacer-4">
              <div class="grid grid--two-columns grid__1">
                <div class="grid__1">
                  <dl class="dl-horizontal top-stats">
                    <dt>Total grants</dt> <dd>{{results.hits.total|get_amount}} </dd>
                    <dt>Total funders</dt> <dd>{{results.aggregations.funding_orgs.value|get_amount}}</dd>
                    <dt>Total recipients</dt> <dd>{{results.aggregations.recipient_orgs.value|get_amount}}</dd>
                    <dt>Earliest award date</dt> <dd>{{results.aggregations.min_date.value_as_string|get_date}}</dd>
                    <dt>Latest award date</dt> <dd>{{results.aggregations.max_date.value_as_string|get_date}}</dd>
                  </dl>
                </div>
                <div class="grid__1">
                  {% include 'currency_stats.html' %}
                </div>
              </div>
            </div>

          {% if selected_facets %}
            {% include 'components/filter-summary.html' %}
          {% endif %}

          <section class="grantnav-search__content--filters">
            {% include 'components/dropdown-filter.html' with required=True options=dropdownFilterOptions %}

            <div class="export-wrapper">
              <div class="export-label">Export search data:</div>

              <div class="export-button">
                {% include 'components/export-data-button--csv.html' with data_function='search.csv' query=query_string only %}
              </div>

              <div class="export-button">
                {% include 'components/export-data-button--json.html' with data_function='search.json' query=query_string only %}
              </div> 
            </div>
          </section>

          <section class="grantnav-search__content--results">
          {% for result in results.hits.hits %}
            {% include 'components/grant-search-result.html' with result=result %}
          {% endfor %}
          </section>

          <section class="grantnav-search__content--footer">
            {% include 'components/pager.html' %}
          </section>
        </div>
      </div>
      {% elif results %}

      <div class="spacer-4">
          <div id="no-results">
            <h1>No Results</h1>
            <p>Your search - <strong>"{{text_query}}"</strong> - did not match any records.<br>Try something like</p>
            <ul>
              <li>Using more general terms</li>
              <li>Checking your spelling</li>
              <li>Removing some filters</li>
              <li>To clear your search, <a href="{% url 'home' %}">click here</a></li>
            </ul>
          </div>
      </div>

    {% elif search_error %}
    
      <div class="spacer-4">
          <div id="not_valid">
            <h1>Search input is not valid</h1>
            <p>We can't find what you tried to search for.<br>Try something like:</p>
            <ul>
            <li>Using more general terms</li>
            <li>Checking your spelling</li>
          </div>
      </div>
    {% endif %}
  </main>
{% endblock %}


{% block extra_style %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet">

{% endblock %}
{% block extra_scripts %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.1/URI.min.js"></script>
<script>
$(function() {

  document.getElementById('recipientOrganization-select').addEventListener('submit', function(e) {
    e.preventDefault(); //to prevent form submission
    var clear = false;
    if (e.submitter.id == "recipientOrganization-clear") {
      clear = true;
    }
    execute_submit(this, clear)
  });

  document.getElementById('fundingOrganization-select').addEventListener('submit', function(e) {
    e.preventDefault(); //to prevent form submission
    var clear = false;
    if (e.submitter.id == "fundingOrganization-clear") {
      clear = true;
    }
    execute_submit(this, clear)
  });

  function execute_submit(form_object, clear) {
    var param = $(form_object).data('param');
    var new_url = calculate_new_url(param, $(form_object), clear);
    var changed = window.location.href !== new_url;

    if (changed) {
      window.location.href = new_url
    }
  }

  $facet_selects = $(".facet-options");

  function calculate_new_url(param, $select, clear) {
    var uri = URI(window.location.href);
    uri.removeSearch(param);
    uri.removeSearch('exclude_' + param);

    if (!clear) {
      $select.find(':checked').each(function (index, element) {
        uri.addSearch(param, element.value);
      })
      if ($('#' + param + '-exclude').prop("checked")) {
        uri.addSearch('exclude_' + param, 'true');
      }
    }

    return uri.toString()
  };

  $facet_selects.on('change', function (e) {
    var param = $(this).data('param');
    var clear = false
    var new_url = calculate_new_url(param, $(this), clear);
    var changed = window.location.href !== new_url;
    if (changed) {
      $('#' + param + '-button').show()
    } else {
      $('#' + param + '-button').hide()
    }
  })


  $('#datepicker').datepicker({
    format: "mm/yyyy",
    startDate: "01/1990",
    endDate: "{% now "12/Y" %}",
    startView: 2,
    minViewMode: 1,
    maxViewMode: 2,
    autoclose: true,
    defaultViewDate: '01/2010'
  });
});

</script>
{% endblock %}
