{% extends 'base.html' %}
{% load frontend %}

{% block main_content %}

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <form role="search">
        <div class="input-group">
          <input name="text_query" class="form-control" placeholder="eg. gardens" type="text" value="{{text_query}}">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Search</button>
          </span>
        </div>
      </form>
    </div>
  </div>


{% if field_info %}
  <div class="row">
    <div class="col-xs-12">
      <h3 class="indent"> Results <small> <b> Total: </b> {{results.hits.total}}  </small> </h3>

      <table class="table table-striped table-condensed table-bordered">
        <thead>
          <tr>
            <td><b>Field Name</b></td> 
            <td><b>Grants with Field</b></td>
            <td><b>In Schema</b></td>
            <td><b>Distinct Count</b></td>
            <td><b>Top 5 Terms</b></td>
          </tr>
        </tbody>
        <tbody>
          {% for field, data in field_info %}
          <tr>
            <td>{{field}}</td> 
            <td>{{data.found}}</td>
            <td>{{data.in_schema}}</td>
            <td>{{data.distinct}}</td>
            <td>
               {% for bucket in data.terms %}
                  <span class="tab"> {{bucket.key}} <small>({{bucket.doc_count}}) </small> </span>
               {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      <table>
    </div>
  </div>
{% else %}
 <div class="row">
   <div class="col-xs-9 col-xs-offset-2">
      <h3> No Results </h3>
   </div">
 </div>
{% endif %}

{% endblock %}
