{% extends 'base.html' %}
{% load i18n %}
{% block main_content %}

<div class="layout layout--single-column">
  <div class="grantnav-page__content layout__content">
    <div class="prose">
      <section class="prose__section">
        <h1>{% trans "Terms and conditions" %}</h1>
        <p>{% blocktrans %}This web application is free software designed to help people explore data published in the <a href="https://www.threesixtygiving.org/data-standard/">360Giving Data Standard</a>.{% endblocktrans %}</p>

        <p>{% blocktrans %}It is offered as service without any warranty; including without the implied warranty of merchantability or fitness for a particular purpose.{% endblocktrans %}</p>

        <p>{% blocktrans %}The owner of this website is 360Giving. The site is operated by Open Data Services Co-operative Limited.{% endblocktrans %}</p>

        <p>{% blocktrans %}If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy notice governs our (360Giving and Open Data Services Co-operative Limited) relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use this website.{% endblocktrans %}</p>

        <p> The term &#8216;you&#8217; refers to the user or viewer of this website.</p>

        <p>The terms &#8216;360Giving&#8217; or &#8216;us&#8217; or &#8216;we&#8217; refers to the owner of the website. 360Giving's company registration number is 9668396. Its registered charity number is 1164883. The registered address is 360Giving, King's Place, 90 York Way, London, N1 9AG.</p>

        <p>{% blocktrans %}The term 'Open Data Services Co-operative Limited' refers to the operator of the website on behalf of 360Giving. Open Data Services Co-operative Limited's company registration number is 09506232. Their registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS.{% endblocktrans %}</p>


        <p>{% blocktrans %}The use of this website is subject to the following terms of use:{% endblocktrans %}</p>

        <p>{% blocktrans %}The content of the pages of this website is for your general information and use only. It is subject to change without notice.{% endblocktrans %}</p>

        <p>{% blocktrans %}Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.<br>
        Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.<br>
        This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.<br>
        All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.<br>
        Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.<br>
        From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
        Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.{% endblocktrans %}</p>

        <h2>{% trans "Problems with the data" %}</h2>
        <p>{% blocktrans %}360Giving and GrantNav are not directly responsible for any of the data on this site. If you see a problem with data on this site this should be reported directly to the relevant organisation. To find out how to contact them, see the "Where is this data from?" section at the bottom of each GrantNav grant page. GrantNav is covered by the 360Giving <a href="http://www.threesixtygiving.org/take-down-policy/">Take Down policy</a> for requests to remove data that is published to the 360Giving Data Standard.{% endblocktrans %}</p>

        <h2>{% trans "Links to other websites" %}</h2>
        <p>{% blocktrans %}This website contains links to other websites. If you use these links to leave this site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.{% endblocktrans %}</p>

        <h2>{% trans "Website disclaimer" %}</h2>
        <p>{% blocktrans %}The information contained in this website is for general information purposes only. The information is provided by 360Giving and by the organisations publishing their data to the 360Giving Data Standard. While we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
        In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
        Through this website you are able to link to other websites. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
        Every effort is made to keep the website up and running smoothly. However, 360Giving takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.{% endblocktrans %}</p>

      </section>
    </div>
  </div>
</div>

{% endblock %}
