[submodule "docs/_static/docson"]
	path = docs/_static/docson
	url = https://github.com/OpenDataServices/docson
	branch = master
[submodule "360-ds"]
	path = 360-ds
	url = https://github.com/ThreeSixtyGiving/360-ds.git
