Django==1.9.1
django-bootstrap3==6.2.2
requests==2.9.0
django-environ==0.4.0
raven==5.9.2
elasticsearch==2.2.0
urllib3==1.14
six==1.10.0
-e git+https://github.com/OpenDataServices/flatten-tool.git@2af8a004d24e376e948d2f473753692ad6c248b8#egg=flattentool
python-dateutil==2.4.2
strict-rfc3339==0.6

# Dependencies of flatten-tool
jdcal==1.2
jsonref==0.1
openpyxl==2.3.2
pytz==2015.7
schema==0.4.0
