Django<1.12
#^^ rq.filter: <1.12
django-bootstrap3
requests
django-environ
raven
elasticsearch
flattentool
python-dateutil
strict-rfc3339
django-cookie-law
titlecase
dealer==2.0.5
django-super-favicon
ijson
