-r requirements.in

flake8
pip-tools

# pytest and plugins
pytest
pytest-django
pytest-cov
pytest-localserver

coveralls
selenium<4.3 # find_element_by.. deprecated after this point
libsass
chromedriver-autoinstaller
