Django<1.9
#^^ rq.filter: <1.9
django-bootstrap3
requests
django-environ
raven
elasticsearch
-e git+https://github.com/OpenDataServices/flatten-tool.git@2af8a004d24e376e948d2f473753692ad6c248b8#egg=flattentool
python-dateutil
strict-rfc3339
