attrs==20.3.0
certifi==2019.11.28
chardet==3.0.4
contextlib2==0.6.0
coverage==5.4
coveralls==3.0.0
dealer==2.1.0
django-bootstrap3==14.2.0
django-environ==0.4.5
django-super-favicon==0.6.1
django==2.2.20
docopt==0.6.2
elasticsearch==7.0.5
et-xmlfile==1.0.1
flake8==3.8.4
flattentool==0.9.0
idna==2.8
ijson==2.5.1
iniconfig==1.1.1
jdcal==1.4.1
jsonref==0.2
libsass==0.20.1
lxml==4.6.2
mccabe==0.6.1
openpyxl==3.0.6
packaging==20.3
pillow==8.1.0
pluggy==0.13.1
prometheus_client==0.7
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.6
pytest-cov==2.11.1
pytest-django==4.1.0
pytest-localserver==0.5.0
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
raven==6.10.0
regex==2020.11.13
requests==2.25.1
schema==0.7.4
selenium==3.141.0
six==1.14.0
sqlparse==0.4.1
strict-rfc3339==0.7
titlecase==2.0.0
toml==0.10.2
urllib3==1.25.8
werkzeug==1.0.1
xmltodict==0.12.0
