Django==1.11.18 # rq.filter: <1.12
django-bootstrap3==9.1.0
requests==2.21.0
django-environ==0.4.0
raven==5.23.0
elasticsearch==2.3.0
-e git+https://github.com/OpenDataServices/flatten-tool.git@dceac82323271c4cc5956275481d762d81976eaf#egg=flattentool
python-dateutil==2.5.3
strict-rfc3339==0.7
django-cookie-law==1.0.13
titlecase==0.8.1
dealer==2.0.5
django-super-favicon==0.6.0
ijson==2.3
## The following requirements were added by pip freeze:
certifi==2018.11.29
chardet==3.0.4
contextlib2==0.5.3
django-classy-tags==0.7.2
et-xmlfile==1.0.1
idna==2.8
jdcal==1.2
jsonref==0.1
olefile==0.46
openpyxl==2.3.5
Pillow==4.0.0
pytz==2016.6.1
schema==0.6.0
six==1.10.0
urllib3==1.24.1
