{% include 'components/search-download/csv-recommended-fields-list.html' %}

<div style="display:flex; flex-direction: row; align-items:center; justify-content: end; gap: 6px">

  <a id="visualise-search-in-grantvis-btn" class="grantnav-search__content--insights-large button button--large button--teal-dark bold margin-left:4" style="margin-right: 6rem" href="{{insights_base_url}}/?{{ query_string }}" title="View search results in GrantVis data visualiser" data-testid="insights-integration-btn">
    Visualise your search results in GrantVis
  </a>

  <h4 class="margin-right:1">Download Results:</h4>

	<div class="export-button" style="text-align:center">
		<a id="direct-json-download-btn" class="export-data-button export-data-button--json" href="{% url 'search.json' %}?{{ query_string }}"
			title="Export search results as JSON data">
			{% include 'tokens/export-json-icon.html' %}
		</a>
	</div>

	<div class="export-button" style="text-align:center">
    <a id="direct-csv-download-btn" class="export-data-button export-data-button--csv" href="#" title="Export search results as CSV data with recommended fields">
      {% include 'tokens/export-csv-icon.html' %}
		</a>
	</div>

	<div class="export-button" style="text-align: center; margin-right:0">
		<a href="#" class="modal__trigger button button--teal-dark export-data-button export-data-button--csv"
			data-id="export-data-modal" title="Export search results as CSV data choosing the fields"
			id="custom-csv-download-modal-btn">
			Custom CSV
		</a>
	</div>

</div>

{% include 'components/search-download/download-data-modal.html' %}
{% include 'components/search-download/direct-csv-download.html' %}