{% load get_current_sort from frontend %}
<form id="sort-form" class="form-inline">
  <div class="dropdown-filter">
    <label class="dropdown-filter__label" for="results-sort-dropdown">Sort By:</label>
      <select id="sort_options" name="sort" class="form-control" onchange="this.form.submit()">
      {% with current_sort=query|get_current_sort %}
        {% for option in options %}
          <option value="{{ option.value }}"{% if option.disabled %} disabled{% endif %}{% if current_sort == option.value%} selected {% endif %}>{{ option.label }}</option>
        {% endfor %}
      {% endwith %}
    </select>
  <input name="json_query" class="form-control" type="hidden" value="{{json_query}}">
  </div>
</form>
