<div id="export-data-modal" class="modal" aria-hidden>
	<div class="modal__overlay modal__trigger" data-id="export-data-modal"></div>
	<div class="modal__window" style="min-width: 960px; overflow-y: auto">
		<button class="modal__close modal__trigger" data-id="export-data-modal"></button>
    <div class="modal__content download-options">
			<h4>GrantNav CSV Data Export</h4>

      <p>Select the fields to include in the CSV download.</p>
      {% include 'components/field-chooser-listbox.html' with data=export_default_fields action_label="Download" action_url="/search_custom.csv" %}

		</div>
	</div>
</div>
<style>
.download-options {
  display: flex;
  flex-direction: column;
}

.fields-container {
  height:400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
/*
.download-options label {
  display: grid;
}*/
</style>

<script>

function toggleElement(groupId) {
  const el = document.getElementById(groupId);
  if (el.style.display === 'none') {
    el.style.display = 'block';
  } else {
    el.style.display = 'none';
  }
}


function toggleFieldSelect(checked) {
  const checkboxes = document.querySelectorAll('.field-select');

  for (const checkbox of checkboxes) {
    if (checkbox.parentElement.style.display === 'none') {
      continue;
    }
    checkbox.checked = checked;
  }
}

function toggleDefaultFields() {
  alert('TODO');
}
</script>
