<details class="filter-wrapper" open>
  <summary class="filter-wrapper__summary">
    <span class="filter-wrapper__summary--heading">Filter By</span>
  </summary>

  <div class="filter-wrapper__filters" aria-hidden="false">
    {% block filters %}

      {% comment %} {% include 'components/filters/groups/financial-filters.html' %} {% endcomment %}
      {% include 'components/filters/lists/filter-list-currency.html' %}
      {% include 'components/filters/lists/filter-list-amount-awarded.html' %}
      {% comment %} {% include 'components/filters/groups/location-filters.html' %} {% endcomment %}
      {% include 'components/filters/lists/filter-list-region.html' %}
      {% include 'components/filters/lists/filter-list-district.html' %}
      {% comment %} {% include 'components/filters/groups/year-filters.html' %} {% endcomment %}
      {% include 'components/filters/lists/filter-list-year.html' %}
      {% comment %} {% include 'components/filters/groups/organization-filters.html' %} {% endcomment %}
      {% include 'components/filters/lists/filter-list-funding-org.html' %}
      {% include 'components/filters/lists/filter-list-recipient-org.html' %}

    {% endblock filters %}
  </div>
</details>
