{% load static %}

<footer class="footer">
  <div class="footer__row wrapper">
    <div class="footer__column-2 footer__branding">
      <div class="footer__logo"><img src={% static "/images/360-giving-logo-white.svg" %} alt="360Giving"></div>
      <p class="footer__tagline">Open data for more effective grantmaking</p>
    </div>
    <div class="footer__column-1 footer__social">
      <a href="#" class="github-icon"><img src={% static "/images/github-logo.svg" %} alt="Check our Github"></a>
      <a href="#" class="twitter-icon"><img src={% static "/images/twitter-logo.svg" %} alt="Follow us on Twitter"></a>
    </div>
  </div>
  
  <div class="footer__row wrapper">
    <div class="footer__column-2 footer__section medium-up">
      <h3 class="footer__heading">Products</h3>
      <ul>
        <li><a href="#">GrantNav</a></li>
        <li><a href="#">Insights</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Cove</a></li>
      </ul>
    </div>

    <div class="footer__column-2 footer__section medium-up">
      <h3 class="footer__heading">Other Products</h3>
      <ul>
        <li><a href="#">Data Registry</a></li>
        <li><a href="#">Data Standard</a></li>
        <li><a href="#">Data Challenge</a></li>
        <li><a href="#">Data Champions</a></li>
      </ul>
    </div>

    <div class="footer__column-3 footer__section">
      <h3 class="footer__heading">360 Resources</h3>
      <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via</p>
    </div>

    <div class="footer__column-3 footer__section">
      <h3 class="footer__heading">360 Resources</h3>
      <p>Data in JSON format is ideal for direct use by developers building visualisations and web apps. The JSON should conform to the 360Giving JSON Schemas. Anyone automating the publication of their data from their internal databases or via</p>

    </div>
  </div>

  <div class="wrapper footer__small-print">
      <p>
        <strong>360 Giving</strong> (Trading as <strong>360Giving</strong>) is a registered charity <a href="https://register-of-charities.charitycommission.gov.uk/charity-details/?regId=1164883&subId=0">1164883</a> and a registered company <a href="https://beta.companieshouse.gov.uk/company/09668396">09668396</a>.
         <br>Registered address: 360Giving, c/o Esmée Fairbairn Foundation, Kings Place, 90 York Way, London N1 9AG.
      </p>
  </div>

  <div class="footer__row wrapper footer__small-print">
    
    <div class="footer__column-2">
    <p>© Copyright 2021 360Giving.<br>Licensed under a <a href="#" target="_blank">Creative Commons Attribution 4.0 International License</a>.</p>
    </div>
    <div class="footer__column-2 footer__policy-links">
      <p><a href="#">Privacy Notice</a> | <a href="#">Terms & Conditions</a> | <a href="#">Cookie Policy</a> | <a href="#">Take Down Policy</a> | <a href="#">License</a></p>
    </div>
  </div>
</footer>
