{% load static %}

<footer class="footer">
  <div class="footer__row wrapper">
    <div class="footer__column-2 footer__branding">
      <div class="footer__logo"><img src={% static "/images/360-giving-logo-white.svg" %} alt="360Giving"></div>
      <p class="footer__tagline">Open data for more effective grantmaking</p>
    </div>
    <div class="footer__column-1 footer__social">
      <a href="https://github.com/threesixtygiving/grantnav" class="github-icon"><img src={% static "/images/github-logo.svg" %} alt="Check our Github"></a>
      <a href="https://twitter.com/360Giving/" class="twitter-icon"><img src={% static "/images/twitter-logo.svg" %} alt="Follow us on Twitter"></a>
    </div>
  </div>

  <div class="footer__row wrapper">
    <div class="footer__column-2 footer__section medium-up">
      <h3 class="footer__heading">Links</h3>
      <ul>
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
          <li>
            <a href="{% url 'about' %}">About</a>
          </li>
          <li>
            <a href="{% url 'funders' %}">Funders</a>
          </li>
          <li>
            <a href="{% url 'recipients' %}">Recipients</a>
          </li>
          <li>
            <a href="{% url 'datasets' %}">Data sources used in GrantNav</a>
          </li>
          <li>
            <a href="{% url 'datasets' %}#reuse">Reusing GrantNav Data</a>
          </li>
          <li>
            <a href="https://help.grantnav.threesixtygiving.org/en/latest/developers.html">Developers</a>
          </li>
      </ul>
    </div>

    <div class="footer__column-2 footer__section medium-up">
      <h3 class="footer__heading">Other Products</h3>
      <ul>
        <li><a href="https://data.threesixtygiving.org">Data Registry</a></li>
        <li><a href="https://standard.threesixtygiving.org">Data Standard</a></li>
        <li><a href="https://insights.threesixtygiving.org">360Insights</a></li>
        <li><a href="https://covidtracker.threesixtygiving.org">Covid-19 Grants Tracker</a></li>
      </ul>
    </div>

    <div class="footer__column-3 footer__section">
      <h3 class="footer__heading">GrantNav</h3>
      <p>GrantNav uses open data published by funders about their grants in the <a href="http://www.threesixtygiving.org/standard/">360Giving Data Standard</a>.</p>
      <p>You can use GrantNav to search, filter and download data about where funding goes and how much is given across billions of pounds of grants, for causes and locations across the UK.</p>
      <a>
        If you have questions or feedback, please email <a href="mailto:grantnav@threesixtygiving.org">grantnav@threesixtygiving.org</a>
        or raise an issue in <a href="https://github.com/ThreeSixtyGiving/grantnav/issues">Github</a>.
      </p>
    </div>

    <div class="footer__column-3 footer__section">
      <h3 class="footer__heading">360Giving</h3>
      <p>We help organisations openly publish grants data, and help people use it to improve charitable giving.</p>

      <p><a href="https://threesixtygiving.org">Find out more about 360Giving</a>.</p>

    </div>
  </div>

  <div class="wrapper footer__small-print">
      <p>
        <strong>360 Giving</strong> (Trading as <strong>360Giving</strong>) is a registered charity <a href="https://register-of-charities.charitycommission.gov.uk/charity-details/?regId=1164883&subId=0">1164883</a> and a registered company <a href="https://beta.companieshouse.gov.uk/company/09668396">09668396</a>.
         <br>Registered address: 360Giving, c/o Sayer Vincent Invicta House, 108-114 Golden Lane, London EC1Y 0TL.
      </p>
  </div>

  <div class="footer__row wrapper footer__small-print">

    <div class="footer__column-2">
      <p>
        © Copyright 2021 360Giving.<br>
        Licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.<br>
        Running version <a href="https://github.com/OpenDataServices/grantnav/tree/{{request.tag}}">{{request.tag}}</a>.
      </p>
    </div>
    <div class="footer__column-2 footer__policy-links">
      <p><a href="https://www.threesixtygiving.org/privacy/">Privacy Notice</a> | <a href="{% url 'terms' %}">Terms & Conditions</a> | <a href="https://www.threesixtygiving.org/cookie-policy/">Cookie Policy</a> | <a href="https://www.threesixtygiving.org/take-down-policy/">Take Down Policy</a></p>
    </div>
  </div>
</footer>
