{% load frontend %}
{% load static %}
    <div class="section">
        <div class="grantnav-datatable__content--filters margin-top:0 margin-bottom:0">
            {% include 'components/dropdown-filter.html' with required=True options=dropdownFilterOptions %}
        </div>

        <div class="table--zebra">
          <table class="table table--zebra table--primary dt-responsive" id="search_grants_datatable" style="width: 100%">
          </table>
        </div>
    </div>
{% block models %} {% include 'currency_stats_modal.html' %}
{% endblock %}
