  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/scroller/1.4.1/js/dataTables.scroller.min.js"
  ></script>

  {% include 'widgets/grantnav_link_script.html' %}

  <script>

    $( window ).resize(function() {
      $('#grants_datatable').DataTable().responsive.recalc();
      $('#grants_datatable').DataTable().columns.adjust();
    });
    
    function truncate(string, len){
        if (string.length > len)
          return string.substring(0,len)+'...';
        else
          return string;
    };

    jQuery(function($) {
      $('#grants_datatable').dataTable({
        serverSide: true,
        responsive: true,
        searching: false,
        autoWidth: true,
        scrollY: 400,
        scroller: true,
        order: [[0, "desc"]],
        dom: "fit",
        scroller: {
          displayBuffer: 20,
          loadingIndicator: true
        },
        language: {
            info: "_START_ to _END_ of _TOTAL_"
        },
        ajax: {
          url: "{% url 'widgets.api' %}" + window.location.search
        },
        columns: [
          {data: "title",
          render: function (data, type, row) {
              return '<a href="/grant/' + encodeURIComponent(row.id) + '">' + truncate(data, 40) + '</a>'
          }},
          {data: "amountAwarded", className: "amount"},
          {data: "awardDate"},
          {data: "fundingOrganization.0.name", render: function (data, type, row) {return '<a href="/org/' + row.fundingOrganization[0].id + '">' + truncate(data, 30) + '</a>'}},
          {data: "recipientOrganization.0.name", render: function (data, type, row) {return '<a href="/org/' + row.recipientOrganization[0].id + '">' + truncate(data?data:row.recipientOrganization[0].id, 30) + '</a>'}},
          {data: "description", orderable: false},
        ]
      });
    })
    </script>
