{% load get_current_sort from frontend %}

<style scoped>
.remove-order-button:after {
 content: unset !important;
}
</style>

<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/scroller/1.4.1/js/dataTables.scroller.min.js"
></script>

{% include 'widgets/grantnav_link_script.html' %}

<script type="application/json" id="script-settings">
  {% if widget %}
    {"linkTarget": "target='_blank'" }
  {% else %}
    {"linkTarget": "" }
  {% endif %}
</script>

<script>
const params = new URLSearchParams(window.location.search);
const inputRows = params.get('rows');
const inputColumns = params.getAll('widgetColumn');
const isWidget = window.location.pathname.includes('widget');

// We always want amount and date shown in the datatable
inputColumns.push('amount');
inputColumns.push('date');

let lengthMenu = [25, 50, 75, 100];
let dom;
const settings = JSON.parse($('#script-settings').text());

$(window).resize(function () {
  $('#search_grants_datatable').DataTable().responsive.recalc();
  $('#search_grants_datatable').DataTable().columns.adjust();
});

function truncate (string, len) {
  if (string.length > len) { return string.substring(0, len) + '...'; } else { return string; }
}

function getSortValue () {
  switch ('{{ query|get_current_sort }}') {
    case '_score desc':
      return [[0, 'desc']];
    case 'amountAwarded desc':
      return [[1, 'desc']];
    case 'amountAwarded asc':
      return [[1, 'asc']];
    case 'awardDate desc':
      return [[2, 'desc']];
    case 'awardDate asc':
      return [[2, 'asc']];
    default:
      return [[0, 'desc']];
  }
}

function getPageLength () {
  if (Number(inputRows) > 0) {
    lengthMenu = inputRows;
    dom = 'ft';
    return inputRows;
  } else {
    dom = 'filt<"dt-pager-container"<"pager"p>>';
    return lengthMenu[0];
  }
}

function getColumns () {
  const allColumns = [
    {
      id: 'title',
      title: 'Title',
      data: 'title',
      render: function (data, type, row) {
        return `<a href="/grant/${encodeURIComponent(row.id)}" ${settings.linkTarget}>${truncate(data, 40)}</a>`;
      },
      className: 'all remove-order-button',
      orderable: false
    },
    {
      id: 'amount',
      title: 'Amount',
      data: 'amountAwarded',
      className: `${inputColumns.includes('title') ? 'amount min-tablet-p' : 'min-tablet-p'}`,
      orderable: false
    },
    {
      id: 'date',
      title: 'Date',
      data: 'awardDate',
      className: `${inputColumns.length >= 2 && 'min-tablet-p'}`,
      orderable: false
    },
    {
      id: 'funder',
      title: 'Funder',
      data: 'fundingOrganization.0.name',
      render: function (data, type, row) {
        return `<a href="/org/${row.fundingOrganization[0].id}" ${settings.linkTarget}>${truncate(data, 30)}</a>`;
      },
      className: `${inputColumns.length >= 3
      ? isWidget ? 'min-tablet-p' : 'min-tablet-l'
      : isWidget ? 'min-tablet-l' : 'min-desktop'}`,
      orderable: false
    },
    {
      id: 'recipient',
      title: 'Recipient',
      data: 'recipientOrganization.0.name',
      render: function (data, type, row) {
        if (row.recipientOrganization) {
          return `<a href="/org/${row.recipientOrganization[0].id}" ${settings.linkTarget}>${truncate(data || row.recipientOrganization[0].id, 30)}</a>`;
        } else { return 'Individual'; }
      },
      className: `${inputColumns.length >= 3
      ? isWidget ? 'min-tablet-p' : 'min-tablet-l'
      : isWidget ? 'min-tablet-l' : 'min-desktop'}`,
      orderable: false
    },
    {
      id: 'description',
      title: 'Description',
      data: 'description',
      className: 'none',
      orderable: false,
      responsivePriority: -1
    }
  ];

  // inputColumns will always be a minimum of 2 (the required columns amount and date)
  if (inputColumns.length <= 2) {
    return allColumns;
  } else {
    return allColumns.filter(column => {
      // only return columns which have an id that is included in inputColumns
      return inputColumns.includes(column.id);
    });
  }
}

/* override default which is to show an alert() dialog */
$.fn.dataTable.ext.errMode = 'throw';

jQuery(function ($) {
  $('#search_grants_datatable').dataTable({
    serverSide: true,
    responsive: true,
    searching: false,
    autoWidth: true,
    pageLength: getPageLength(),
    pagingType: 'full_numbers',
    lengthMenu,
    order: getSortValue(),
    dom,
    language: {
      info: '_START_ to _END_ of _TOTAL_'
    },
    ajax: {
      url: "{% url 'search.widgets_api' %}" + window.location.search
    },
    columns: getColumns()
  });

  const table = $('search_grants_datatable');

  table.on('draw', function () {
    if (document.getElementById('search_grants_datatable_paginate')) {
      const previousButton = document.getElementById('search_grants_datatable_previous');
      if (previousButton !== null) {
        previousButton.innerHTML = '<svg width="9" height="14" viewBox="0 0 9 14" fill="none" stroke="#2B666A" xmlns="http://www.w3.org/2000/svg">  <path d="M1.60577 6.6709L7.19434 12.5037" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path><path d="M1.60594 6.67081L7.18164 0.932251" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg>';
      }
      const nextButton = document.getElementById('search_grants_datatable_next');
      if (nextButton !== null) {
        nextButton.innerHTML = '<svg width="8" height="14" viewBox="0 0 8 14" fill="none" stroke="#2B666A" xmlns="http://www.w3.org/2000/svg"><path d="M6.54437 6.76514L0.95581 0.93229" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path><path d="M6.54421 6.76522L0.968506 12.5038" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg>';
      }
    }
  });
});
</script>
