{% load to_json from frontend %}
<!--
   listbox widget
   This software includes material copied from or derived from https://www.w3.org/WAI/ARIA/apg/patterns/listbox/examples/listbox-rearrangeable/.
   Copyright © 2024 W3C® (MIT, ERCIM, Keio, Beihang).
   Licenced https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document
-->

<style scoped>
  .listbox-area {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }

  [role="listbox"] {
    margin: 1em 0 0;
    padding: 0;
    min-height: 18em;
    border: 1px solid #aaa;
  }

  [role="listbox"]#ss_elem_list {
    position: relative;
    max-height: 18em;
    overflow-y: auto;
  }

  [role="listbox"]+*,
  .listbox-label+* {
    margin-top: 1em;
  }

  [role="group"] {
    margin: 0;
    padding: 0;
  }

  [role="group"]>[role="presentation"] {
    display: block;
    margin: 0;
    padding: 0 0.5em;
    font-weight: bold;
    line-height: 2;
    background-color: #ccc;
  }

  [role="option"] {
    position: relative;
    display: block;
    margin: 2px;
    padding: 2px 1em 2px 1.5em;
    line-height: 1.8em;
    cursor: pointer;
  }

  [role="listbox"]:focus [role="option"].focused {
    background: #bde4ff;
  }

  [role="listbox"]:focus [role="option"].focused,
  [role="option"]:hover {
    outline: 2px solid currentcolor;
  }

  .move-right-btn span.checkmark::after {
    content: " →";
  }

  .move-left-btn span.checkmark::before {
    content: "← ";
  }

  [role="option"][aria-selected="true"] span.checkmark::before {
    position: absolute;
    left: 0.5em;
    content: "✓";
  }

  button[aria-haspopup="listbox"] {
    position: relative;
    padding: 5px 10px;
    width: 150px;
    border-radius: 0;
    text-align: left;
  }

  button[aria-haspopup="listbox"]::after {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: currentcolor;
    border-bottom: 0;
    content: "";
  }

  button[aria-haspopup="listbox"][aria-expanded="true"]::after {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 0;
    border-bottom-color: currentcolor;
    content: "";
  }

  button[aria-haspopup="listbox"]+[role="listbox"] {
    position: absolute;
    margin: 0;
    width: 9.5em;
    max-height: 10em;
    border-top: 0;
    overflow-y: auto;
  }

  [role="toolbar"] {
    display: flex;
  }

  [role="toolbar"]>* {
    border: 1px solid #aaa;
    background: #ccc;
  }

  [role="toolbar"]>[aria-disabled="false"]:focus {
    background-color: #eee;
  }

  button {
    font-size: inherit;
  }

  button[aria-disabled="true"] {
    opacity: 0.5;
  }

  .annotate {
    color: #366ed4;
    font-style: italic;
  }

  .hidden {
    display: none;
  }

  .offscreen {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 14px;
    white-space: nowrap;
  }
</style>

<div class="listbox-area">
  <div class="left-area">
    <span id="ms_av_l" class="listbox-label">Available fields:</span>
    <ul id="ms_imp_list" tabindex="0" role="listbox" aria-labelledby="ms_av_l" aria-multiselectable="true"
      style="min-height: 400px; max-height: 400px; overflow: scroll;">
      {% for title, fields in export_default_fields.items %}

      {# These are top-level fields #}
      {% if fields|length == 1 %}
      <li data-option="{{fields.0|to_json}}" id="field-select-{{fields.0.path}}"
        class="field-select" role="option" aria-selected="false" title="[DEBUG {{fields.0.path}}]">
        <span class="checkmark" aria-hidden="true"></span>
        {{fields.0.title}} {% if "additional_data" in field.path %}(additional data){% endif %}
      </li>
      {% else %}

      {# These are nested fields #}
      <div class="dl-group-container">
        <li role="option" aria-selected="false" onclick="toggleElement('dl-group-{{title|cut:" "}}')"
          data-option="{{fields|to_json}}"
          title="[DEBUG {{fields.path}}] Expand to show child fields in the {{title}} field">
          {{title}} ({{fields|length}})
        </li>
        <div class="dl-group" id="dl-group-{{title|cut:" "}}" {% if fields|length > 1 %}style="display:none" {% endif %}>
          {% for field in fields %}
          <li data-option="{{field|to_json}}" id="field-select-{{field.path}}"
            class="margin-left:2 field-select" role="option" aria-selected="false" title="[DEBUG {{field.path}}]">
            <span class="checkmark" aria-hidden="true"></span>
            {{field.title}} {% if "additional_data" in field.path %}(additional data){% endif %}
          </li>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% endfor %}
    </ul>

    <input type="text" id="field-search" placeholder="Search for a field name"  style="width: 100%" />

    <button type="button" id="dl-add-fields-btn" class="move-right-btn" aria-keyshortcuts="Alt+ArrowRight Enter"
      aria-disabled="true">
      <span class="checkmark" aria-hidden="true"></span>
      Add
    </button>
  </div>
  <div class="right-area">
    <span id="ms_ch_l" class="listbox-label">Fields chosen (<span id="chosen-fields-count">0</span>):</span>
    <ul tabindex="0" role="listbox" aria-labelledby="ms_ch_l" aria-activedescendant="" id="chosen-fields-list"
      aria-multiselectable="true"  style="min-height: 400px; max-height: 400px; overflow: scroll;">
    </ul>
    <button type="button" id="dl-remove-fields-btn" class="move-left-btn" aria-keyshortcuts="Alt+ArrowLeft Delete"
      aria-disabled="true">
      <span class="checkmark" aria-hidden="true"></span>
      Remove
    </button>
  </div>
  <form method="get" action="{{action_url}}">
    <input type="hidden" id="form-data" value="" name="selection" />
    <input type="hidden" name="json_query" value="{{json_query}}" />
    <input type="submit" class="button button--teal-dark button--solid" style="width: 100%" value="{{action_label}}" />
  </form>

</div>

<script>
class GNListBox {
  constructor () {
    this.addBtn = document.getElementById('dl-add-fields-btn');
    this.removeBtn = document.getElementById('dl-remove-fields-btn');
    this.toAdd = [];
    this.toRemove = [];
    this.fieldsChosen = [];

    this.setupEvents();
  }

  filterCheckboxes (event) {
    const inputText = event.srcElement.value;
    const checkboxes = document.querySelectorAll('.field-select');

    /* Open up all the dl-groups */
    for (const dlGroup of document.querySelectorAll('.dl-group')) {
      dlGroup.style.display = inputText ? 'block' : 'none';
    }

    if (!inputText) {
      /* Reset */
      for (const checkbox of checkboxes) {
        checkbox.style.display = 'block';
      }

      for (const fieldGroupContainer of document.getElementsByClassName('dl-group-container')) {
        fieldGroupContainer.style.display = 'block';
      }

      return;
    }

    for (const checkbox of checkboxes) {
      const isVisible = checkbox.innerText.trim().toLowerCase().startsWith(inputText.toLowerCase());
      checkbox.style.display = isVisible ? 'block' : 'none';
    }

    /* Hide the field group if it has no child items */
    for (const fieldGroupContainer of document.getElementsByClassName('dl-group-container')) {
      if (Array.from(fieldGroupContainer.getElementsByClassName('field-select')).filter(el => el.style.display !== 'none').length === 0) {
        fieldGroupContainer.style.display = 'none';
      } else {
        fieldGroupContainer.style.display = 'block';
      }
    }
  }

  addItemToAdd (item) {
    this.toAdd.push(item);
    this.addBtn.setAttribute('aria-disabled', this.toAdd.length === 0);
  }

  removeItemToRemove (item) {
    this.toRemove.push(item);
    this.removeBtn.setAttribute('aria-disabled', this.toRemove.length === 0);
  }

  select (event) {
    const item = event.srcElement;

    /* if already selected then toggle this off / remove from selection */
    if (item.ariaSelected === 'true') {
      item.setAttribute('aria-selected', 'false');
      this.toRemove.pop(item);
      this.toAdd.pop(item);
      return;
    }

    item.setAttribute('aria-selected', 'true');
    item.setAttribute('tabindex', '0');

    if (item.id.endsWith('-selected')) {
      this.removeItemToRemove(item);
    } else {
      this.addItemToAdd(item);
    }
  }

  updateFieldsList () {
    this.fieldsChosen = Array.from(document.getElementById('chosen-fields-list').children).map((item) => {
      return JSON.parse(item.dataset.option);
    });

    console.log(this.fieldsChosen);
    document.getElementById('chosen-fields-count').innerText = this.fieldsChosen.length;
    document.getElementById('form-data').value = JSON.stringify(this.fieldsChosen);
  }

  setupEvents () {
    for (const el of document.getElementsByClassName('field-select')) {
      el.addEventListener('click', this.select.bind(this));
    }

    this.addBtn.addEventListener('click', () => {
      const existingFieldPaths = this.fieldsChosen.map((item) => { return item.path; });

      for (const item of this.toAdd) {
        /* Check the item isn't already in the right hand list */
        if (existingFieldPaths.includes(JSON.parse(item.dataset.option).path)) {
          continue;
        }

        /* Setup the new item in the right hand selected list */
        const itemClone = item.cloneNode(true);
        itemClone.setAttribute('aria-selected', false);
        itemClone.setAttribute('id', `${itemClone.id}-selected`);
        itemClone.addEventListener('click', this.select.bind(this));

        document.getElementById('chosen-fields-list').appendChild(itemClone);
        /* TODO how to Handle the parent group item ? */
      }
      this.toAdd = [];
      for (const el of document.getElementsByClassName('field-select')) {
        el.setAttribute('aria-selected', false);
      }
      this.updateFieldsList();
    });

    this.removeBtn.addEventListener('click', () => {
      for (const item of this.toRemove) {
        item.remove();
      }
      this.toRemove = [];
      this.updateFieldsList();
    });

    document.getElementById('field-search').addEventListener('keyup', this.filterCheckboxes.bind(this));
  }
}

const gnl = new GNListBox();
</script>