{% load to_json from frontend %}
<!--
   listbox widget
   This software includes material copied from or derived from https://www.w3.org/WAI/ARIA/apg/patterns/listbox/examples/listbox-rearrangeable/.
   Copyright © 2024 W3C® (MIT, ERCIM, Keio, Beihang).
   Licenced https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document
-->

<style scoped>
  .listbox-area {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }

  [role="listbox"] {
    margin: 1em 0 0;
    padding: 0;
    min-height: 18em;
    border: 1px solid #aaa;
  }

  [role="listbox"]#ss_elem_list {
    position: relative;
    max-height: 18em;
    overflow-y: auto;
  }

  [role="listbox"]+*,
  .listbox-label+* {
    margin-top: 1em;
  }

  [role="group"] {
    margin: 0;
    padding: 0;
  }

  [role="group"]>[role="presentation"] {
    display: block;
    margin: 0;
    padding: 0 0.5em;
    font-weight: bold;
    line-height: 2;
    background-color: #ccc;
  }

  [role="option"] {
    position: relative;
    display: block;
    margin: 2px;
    padding: 2px 1em 2px 1.5em;
    line-height: 1.8em;
    cursor: pointer;
  }

  [role="listbox"]:focus [role="option"].focused {
    background: #bde4ff;
  }

  [role="listbox"]:focus [role="option"].focused,
  [role="option"]:hover {
    outline: 2px solid currentcolor;
  }

  .move-right-btn span.checkmark::after {
    content: " →";
  }

  .move-left-btn span.checkmark::before {
    content: "← ";
  }

  [role="option"][aria-selected="true"] span.checkmark::before {
    position: absolute;
    left: 0.5em;
    content: "✓";
  }

  button[aria-haspopup="listbox"] {
    position: relative;
    padding: 5px 10px;
    width: 150px;
    border-radius: 0;
    text-align: left;
  }

  button[aria-haspopup="listbox"]::after {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: currentcolor;
    border-bottom: 0;
    content: "";
  }

  button[aria-haspopup="listbox"][aria-expanded="true"]::after {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 0;
    border-bottom-color: currentcolor;
    content: "";
  }

  button[aria-haspopup="listbox"]+[role="listbox"] {
    position: absolute;
    margin: 0;
    width: 9.5em;
    max-height: 10em;
    border-top: 0;
    overflow-y: auto;
  }

  [role="toolbar"] {
    display: flex;
  }

  [role="toolbar"]>* {
    border: 1px solid #aaa;
    background: #ccc;
  }

  [role="toolbar"]>[aria-disabled="false"]:focus {
    background-color: #eee;
  }

  button {
    font-size: inherit;
  }

  button[aria-disabled="true"] {
    opacity: 0.5;
  }

  .annotate {
    color: #366ed4;
    font-style: italic;
  }

  .hidden {
    display: none;
  }

  .offscreen {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 14px;
    white-space: nowrap;
  }
</style>

<div class="listbox-area">
  <div class="left-area">
    <span id="ms_av_l" class="listbox-label">Available fields:</span>
    <ul id="ms_imp_list" tabindex="0" role="listbox" aria-labelledby="ms_av_l" aria-multiselectable="true"
      style="max-height: 400px; overflow: scroll;">
      {% for title, fields in export_default_fields.items %}

      {# These are top-level fields #}
      {% if fields|length == 1 %}
      <li data-option="{{fields.0|to_json}}" id="field-select-{{fields.0.path}}"
        class="field-select" role="option" aria-selected="false" title="[DEBUG {{fields.0.path}}]">
        <span class="checkmark" aria-hidden="true"></span>
        {{fields.0.title}} {% if "additional_data" in field.path %}(additional data){% endif %}
      </li>
      {% else %}

      {# These are nested fields #}
      <div class="dl-group-container">
        <li role="option" aria-selected="false" onclick="toggleElement('dl-group-{{title|cut:" "}}')"
          data-option="{{fields|to_json}}"
          title="[DEBUG {{fields.path}}] Expand to show child fields in the {{title}} field">
          {{title}} ({{fields|length}})
        </li>
        <div class="dl-group" id="dl-group-{{title|cut:" "}}" {% if fields|length > 1 %}style="display:none" {% endif %}>
          {% for field in fields %}
          <li data-option="{{field|to_json}}" id="field-select-{{field.path}}"
            class="margin-left:2 field-select" role="option" aria-selected="false" title="[DEBUG {{field.path}}]">
            <span class="checkmark" aria-hidden="true"></span>
            {{field.title}} {% if "additional_data" in field.path %}(additional data){% endif %}
          </li>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% endfor %}
    </ul>

    <input type="text" onkeyup="lbw.filterCheckboxes(this)" id="field-search" placeholder="Search for a field name"  style="width: 100%" />

    <button type="button" id="ex2-add" class="move-right-btn" aria-keyshortcuts="Alt+ArrowRight Enter"
      aria-disabled="true">
      <span class="checkmark" aria-hidden="true"></span>
      Add
    </button>
  </div>
  <div class="right-area">
    <span id="ms_ch_l" class="listbox-label">Fields chosen:</span>
    <ul id="ms_unimp_list" tabindex="0" role="listbox" aria-labelledby="ms_ch_l" aria-activedescendant=""
      aria-multiselectable="true">
    </ul>
    <button type="button" id="ex2-delete" class="move-left-btn" aria-keyshortcuts="Alt+ArrowLeft Delete"
      aria-disabled="true">
      <span class="checkmark" aria-hidden="true"></span>
      Remove
      {# FIXME when you remove an item it goes to the bottom of the list in the add area, what is the norm here? #}
    </button>
  </div>
  <div class="offscreen">Last change: <span aria-live="polite" id="ms_live_region"></span></div>
</div>

<script>

/**
   * @namespace lbw (list box widget)
   * @description
   * The lbw namespace is used to avoid conflicting global definitions
   */
const lbw = {};

lbw.filterCheckboxes = function (element) {
  const inputText = element.value;
  const checkboxes = document.querySelectorAll('.field-select');

  /* Open up all the dl-groups */
  for (const dlGroup of document.querySelectorAll('.dl-group')) {
    dlGroup.style.display = inputText ? 'block' : 'none';
  }

  if (!inputText) {
    /* Reset */
    for (const checkbox of checkboxes) {
      checkbox.style.display = 'block';
    }

    for (const fieldGroupContainer of document.getElementsByClassName('dl-group-container')) {
      fieldGroupContainer.style.display = 'block';
    }

    return;
  }

  for (const checkbox of checkboxes) {
    const isVisible = checkbox.innerText.trim().toLowerCase().startsWith(inputText.toLowerCase());
    checkbox.style.display = isVisible ? 'block' : 'none';
  }

  /* Hide the field group if it has no child items */
  for (const fieldGroupContainer of document.getElementsByClassName('dl-group-container')) {
    if (Array.from(fieldGroupContainer.getElementsByClassName('field-select')).filter(el => el.style.display !== 'none').length === 0) {
      fieldGroupContainer.style.display = 'none';
    } else {
      fieldGroupContainer.style.display = 'block';
    }
  }
};

lbw.selected = [];

lbw.select = function (event) {
  const element = event.srcElement;
  element.setAttribute('aria-selected', 'true');
  element.setAttribute('tabindex', '0');
  lbw.selected.push(element);
};

lbw.setupEvents = function () {
  for (const el of document.getElementsByClassName('field-select')) {
    el.addEventListener('click', lbw.select);
  }
};

lbw.setupEvents();

/**
   * @class
   * @description
   *  Listbox object representing the state and interactions for a listbox widget
   * @param listboxNode
   *  The DOM node pointing to the listbox
   */
lbw.NoListbox = class Listbox {
  constructor (listboxNode) {
    this.listboxNode = listboxNode;
    this.activeDescendant = this.listboxNode.getAttribute(
      'aria-activedescendant'
    );
    this.multiselectable = this.listboxNode.hasAttribute(
      'aria-multiselectable'
    );
    this.moveUpDownEnabled = false;
    this.siblingList = null;
    this.startRangeIndex = 0;
    this.upButton = null;
    this.downButton = null;
    this.moveButton = null;
    this.keysSoFar = '';
    this.handleFocusChange = function () { };
    this.handleItemChange = function () { };
    this.registerEvents();
  }

  registerEvents () {
    this.listboxNode.addEventListener('focus', this.setupFocus.bind(this));
    this.listboxNode.addEventListener('keydown', this.checkKeyPress.bind(this));
    this.listboxNode.addEventListener('click', this.checkClickItem.bind(this));

    if (this.multiselectable) {
      this.listboxNode.addEventListener(
        'mousedown',
        this.checkMouseDown.bind(this)
      );
    }
  }

  setupFocus () {
    if (this.activeDescendant) {
      const listitem = document.getElementById(this.activeDescendant);
      listitem.scrollIntoView({ block: 'nearest', inline: 'nearest' });
    }
  }

  focusFirstItem () {
    const firstItem = this.listboxNode.querySelector('[role="option"]');

    if (firstItem) {
      this.focusItem(firstItem);
    }
  }

  focusLastItem () {
    const itemList = this.listboxNode.querySelectorAll('[role="option"]');

    if (itemList.length) {
      this.focusItem(itemList[itemList.length - 1]);
    }
  }

  checkKeyPress (evt) {
    const lastActiveId = this.activeDescendant;
    const allOptions = this.listboxNode.querySelectorAll('[role="option"]');
    const currentItem =
        document.getElementById(this.activeDescendant) || allOptions[0];
    let nextItem = currentItem;

    if (!currentItem) {
      return;
    }

    switch (evt.key) {
      case 'PageUp':
      case 'PageDown':
        evt.preventDefault();
        if (this.moveUpDownEnabled) {
          if (evt.key === 'PageUp') {
            this.moveUpItems();
          } else {
            this.moveDownItems();
          }
        }

        break;
      case 'ArrowUp':
      case 'ArrowDown':
        evt.preventDefault();
        if (!this.activeDescendant) {
          // focus first option if no option was previously focused, and perform no other actions
          this.focusItem(currentItem);
          break;
        }

        if (this.moveUpDownEnabled && evt.altKey) {
          evt.preventDefault();
          if (evt.key === 'ArrowUp') {
            this.moveUpItems();
          } else {
            this.moveDownItems();
          }
          this.updateScroll();
          return;
        }

        if (evt.key === 'ArrowUp') {
          nextItem = this.findPreviousOption(currentItem);
        } else {
          nextItem = this.findNextOption(currentItem);
        }

        if (nextItem && this.multiselectable && event.shiftKey) {
          this.selectRange(this.startRangeIndex, nextItem);
        }

        if (nextItem) {
          this.focusItem(nextItem);
        }

        break;

      case 'Home':
        evt.preventDefault();
        this.focusFirstItem();

        if (this.multiselectable && evt.shiftKey && evt.ctrlKey) {
          this.selectRange(this.startRangeIndex, 0);
        }
        break;

      case 'End':
        evt.preventDefault();
        this.focusLastItem();

        if (this.multiselectable && evt.shiftKey && evt.ctrlKey) {
          this.selectRange(this.startRangeIndex, allOptions.length - 1);
        }
        break;

      case 'Shift':
        this.startRangeIndex = this.getElementIndex(currentItem, allOptions);
        break;

      case ' ':
        evt.preventDefault();
        this.toggleSelectItem(nextItem);
        break;

      case 'Backspace':
      case 'Delete':
      case 'Enter': {
        if (!this.moveButton) {
          return;
        }

        const keyshortcuts = this.moveButton.getAttribute('aria-keyshortcuts');
        if (evt.key === 'Enter' && keyshortcuts.indexOf('Enter') === -1) {
          return;
        }
        if (
          (evt.key === 'Backspace' || evt.key === 'Delete') &&
            keyshortcuts.indexOf('Delete') === -1
        ) {
          return;
        }

        evt.preventDefault();

        let nextUnselected = nextItem.nextElementSibling;
        while (nextUnselected) {
          if (nextUnselected.getAttribute('aria-selected') !== 'true') {
            break;
          }
          nextUnselected = nextUnselected.nextElementSibling;
        }
        if (!nextUnselected) {
          nextUnselected = nextItem.previousElementSibling;
          while (nextUnselected) {
            if (nextUnselected.getAttribute('aria-selected') !== 'true') {
              break;
            }
            nextUnselected = nextUnselected.previousElementSibling;
          }
        }

        this.moveItems();

        if (!this.activeDescendant && nextUnselected) {
          this.focusItem(nextUnselected);
        }
        break;
      }
      case 'A':
      case 'a':
        // handle control + A
        if (evt.ctrlKey || evt.metaKey) {
          if (this.multiselectable) {
            this.selectRange(0, allOptions.length - 1);
          }
          evt.preventDefault();
          break;
        }
        // fall through
      default:
        if (evt.key.length === 1) {
          const itemToFocus = this.findItemToFocus(evt.key.toLowerCase());
          if (itemToFocus) {
            this.focusItem(itemToFocus);
          }
        }
        break;
    }

    if (this.activeDescendant !== lastActiveId) {
      this.updateScroll();
    }
  }

  findItemToFocus (character) {
    const itemList = this.listboxNode.querySelectorAll('[role="option"]');
    let searchIndex = 0;

    if (!this.keysSoFar) {
      for (let i = 0; i < itemList.length; i++) {
        if (itemList[i].getAttribute('id') === this.activeDescendant) {
          searchIndex = i;
        }
      }
    }

    this.keysSoFar += character;
    this.clearKeysSoFarAfterDelay();

    let nextMatch = this.findMatchInRange(
      itemList,
      searchIndex + 1,
      itemList.length
    );

    if (!nextMatch) {
      nextMatch = this.findMatchInRange(itemList, 0, searchIndex);
    }
    return nextMatch;
  }

  /* Return the index of the passed element within the passed array, or null if not found */
  getElementIndex (option, options) {
    const allOptions = Array.prototype.slice.call(options); // convert to array
    const optionIndex = allOptions.indexOf(option);

    return typeof optionIndex === 'number' ? optionIndex : null;
  }

  /* Return the next listbox option, if it exists; otherwise, returns null */
  findNextOption (currentOption) {
    const allOptions = Array.prototype.slice.call(
      this.listboxNode.querySelectorAll('[role="option"]')
    ); // get options array
    const currentOptionIndex = allOptions.indexOf(currentOption);
    let nextOption = null;

    if (currentOptionIndex > -1 && currentOptionIndex < allOptions.length - 1) {
      nextOption = allOptions[currentOptionIndex + 1];
    }

    return nextOption;
  }

  /* Return the previous listbox option, if it exists; otherwise, returns null */
  findPreviousOption (currentOption) {
    const allOptions = Array.prototype.slice.call(
      this.listboxNode.querySelectorAll('[role="option"]')
    ); // get options array
    const currentOptionIndex = allOptions.indexOf(currentOption);
    let previousOption = null;

    if (currentOptionIndex > -1 && currentOptionIndex > 0) {
      previousOption = allOptions[currentOptionIndex - 1];
    }

    return previousOption;
  }

  clearKeysSoFarAfterDelay () {
    if (this.keyClear) {
      clearTimeout(this.keyClear);
      this.keyClear = null;
    }
    this.keyClear = setTimeout(
      function () {
        this.keysSoFar = '';
        this.keyClear = null;
      }.bind(this),
      500
    );
  }

  findMatchInRange (list, startIndex, endIndex) {
    // Find the first item starting with the keysSoFar substring, searching in
    // the specified range of items
    for (let n = startIndex; n < endIndex; n++) {
      const label = list[n].innerText;
      if (label && label.toLowerCase().indexOf(this.keysSoFar) === 0) {
        return list[n];
      }
    }
    return null;
  }

  checkClickItem (evt) {
    if (evt.target.getAttribute('role') !== 'option') {
      return;
    }

    this.focusItem(evt.target);
    this.toggleSelectItem(evt.target);
    this.updateScroll();

    if (this.multiselectable && evt.shiftKey) {
      this.selectRange(this.startRangeIndex, evt.target);
    }
  }

  /**
     * Prevent text selection on shift + click for multi-select listboxes
     *
     * @param evt
     */
  checkMouseDown (evt) {
    if (
      this.multiselectable &&
        evt.shiftKey &&
        evt.target.getAttribute('role') === 'option'
    ) {
      evt.preventDefault();
    }
  }

  /**
     * @description
     *  Toggle the aria-selected value
     * @param element
     *  The element to select
     */
  toggleSelectItem (element) {
    if (this.multiselectable) {
      element.setAttribute(
        'aria-selected',
        element.getAttribute('aria-selected') === 'true' ? 'false' : 'true'
      );

      this.updateMoveButton();
    }
  }

  /**
     * @description
     *  Defocus the specified item
     * @param element
     *  The element to defocus
     */
  defocusItem (element) {
    return; /* TODO do we want this */

    if (!element) {
      return;
    }
    if (!this.multiselectable) {
      element.removeAttribute('aria-selected');
    }
    element.classList.remove('focused');
  }

  /**
     * @description
     *  Focus on the specified item
     * @param element
     *  The element to focus
     */
  focusItem (element) {
    return; /* TODO do we want this */
    this.defocusItem(document.getElementById(this.activeDescendant));
    if (!this.multiselectable) {
      element.setAttribute('aria-selected', 'true');
    }
    element.classList.add('focused');
    this.listboxNode.setAttribute('aria-activedescendant', element.id);
    this.activeDescendant = element.id;

    if (!this.multiselectable) {
      this.updateMoveButton();
    }

    this.checkUpDownButtons();
    this.handleFocusChange(element);
  }

  /**
     * Helper function to check if a number is within a range; no side effects.
     *
     * @param index
     * @param start
     * @param end
     * @returns {boolean}
     */
  checkInRange (index, start, end) {
    const rangeStart = start < end ? start : end;
    const rangeEnd = start < end ? end : start;

    return index >= rangeStart && index <= rangeEnd;
  }

  /**
     * Select a range of options
     *
     * @param start
     * @param end
     */
  selectRange (start, end) {
    // get start/end indices
    const allOptions = this.listboxNode.querySelectorAll('[role="option"]');
    const startIndex =
        typeof start === 'number'
          ? start
          : this.getElementIndex(start, allOptions);
    const endIndex =
        typeof end === 'number' ? end : this.getElementIndex(end, allOptions);

    for (let index = 0; index < allOptions.length; index++) {
      const selected = this.checkInRange(index, startIndex, endIndex);
      allOptions[index].setAttribute('aria-selected', selected + '');
    }

    this.updateMoveButton();
  }

  /**
     * Check for selected options and update moveButton, if applicable
     */
  updateMoveButton () {
    if (!this.moveButton) {
      return;
    }

    if (this.listboxNode.querySelector('[aria-selected="true"]')) {
      this.moveButton.setAttribute('aria-disabled', 'false');
    } else {
      this.moveButton.setAttribute('aria-disabled', 'true');
    }
  }

  /**
     * Check if the selected option is in view, and scroll if not
     */
  updateScroll () {
    /* FIXME this is quite annoying behaviour */
    return;

    const selectedOption = document.getElementById(this.activeDescendant);
    if (selectedOption) {
      const scrollBottom =
          this.listboxNode.clientHeight + this.listboxNode.scrollTop;
      const elementBottom =
          selectedOption.offsetTop + selectedOption.offsetHeight;
      if (elementBottom > scrollBottom) {
        this.listboxNode.scrollTop =
            elementBottom - this.listboxNode.clientHeight;
      } else if (selectedOption.offsetTop < this.listboxNode.scrollTop) {
        this.listboxNode.scrollTop = selectedOption.offsetTop;
      }
      selectedOption.scrollIntoView({ block: 'nearest', inline: 'nearest' });
    }
  }

  /**
     * @description
     *  Enable/disable the up/down arrows based on the activeDescendant.
     */
  checkUpDownButtons () {
    const activeElement = document.getElementById(this.activeDescendant);

    if (!this.moveUpDownEnabled) {
      return;
    }

    if (!activeElement) {
      this.upButton.setAttribute('aria-disabled', 'true');
      this.downButton.setAttribute('aria-disabled', 'true');
      return;
    }

    if (this.upButton) {
      if (activeElement.previousElementSibling) {
        this.upButton.setAttribute('aria-disabled', false);
      } else {
        this.upButton.setAttribute('aria-disabled', 'true');
      }
    }

    if (this.downButton) {
      if (activeElement.nextElementSibling) {
        this.downButton.setAttribute('aria-disabled', false);
      } else {
        this.downButton.setAttribute('aria-disabled', 'true');
      }
    }
  }

  /**
     * @description
     *  Add the specified items to the listbox. Assumes items are valid options.
     * @param items
     *  An array of items to add to the listbox
     */
  addItems (items) {
    if (!items || !items.length) {
      return;
    }

    items.forEach(
      function (item) {
        this.defocusItem(item);
        this.toggleSelectItem(item);
        this.listboxNode.append(item);
      }.bind(this)
    );

    if (!this.activeDescendant) {
      this.focusItem(items[0]);
    }

    this.handleItemChange('added', items);
  }

  /**
     * @description
     *  Remove all of the selected items from the listbox; Removes the focused items
     *  in a single select listbox and the items with aria-selected in a multi
     *  select listbox.
     * @returns {Array}
     *  An array of items that were removed from the listbox
     */
  deleteItems () {
    let itemsToDelete;

    if (this.multiselectable) {
      itemsToDelete = this.listboxNode.querySelectorAll(
        '[aria-selected="true"]'
      );
    } else if (this.activeDescendant) {
      itemsToDelete = [document.getElementById(this.activeDescendant)];
    }

    if (!itemsToDelete || !itemsToDelete.length) {
      return [];
    }

    itemsToDelete.forEach(
      function (item) {
        if (item.parentElement.getAttribute('class') === 'dl-group-container') {
          alert('cont');
        }
        item.remove();

        if (item.id === this.activeDescendant) {
          this.clearActiveDescendant();
        }
      }.bind(this)
    );

    this.handleItemChange('removed', itemsToDelete);

    return itemsToDelete;
  }

  clearActiveDescendant () {
    this.activeDescendant = null;
    this.listboxNode.setAttribute('aria-activedescendant', null);

    this.updateMoveButton();
    this.checkUpDownButtons();
  }

  /**
     * @description
     *  Shifts the currently focused item up on the list. No shifting occurs if the
     *  item is already at the top of the list.
     */
  moveUpItems () {
    if (!this.activeDescendant) {
      return;
    }

    const currentItem = document.getElementById(this.activeDescendant);
    const previousItem = currentItem.previousElementSibling;

    if (previousItem) {
      this.listboxNode.insertBefore(currentItem, previousItem);
      this.handleItemChange('moved_up', [currentItem]);
    }

    this.checkUpDownButtons();
  }

  /**
     * @description
     *  Shifts the currently focused item down on the list. No shifting occurs if
     *  the item is already at the end of the list.
     */
  moveDownItems () {
    if (!this.activeDescendant) {
      return;
    }

    const currentItem = document.getElementById(this.activeDescendant);
    const nextItem = currentItem.nextElementSibling;

    if (nextItem) {
      this.listboxNode.insertBefore(nextItem, currentItem);
      this.handleItemChange('moved_down', [currentItem]);
    }

    this.checkUpDownButtons();
  }

  /**
     * @description
     *  Delete the currently selected items and add them to the sibling list.
     */
  moveItems () {
    if (!this.siblingList) {
      return;
    }

    const itemsToMove = this.deleteItems();
    this.siblingList.addItems(itemsToMove);
  }

  /**
     * @description
     *  Enable Up/Down controls to shift items up and down.
     * @param upButton
     *   Up button to trigger up shift
     * @param downButton
     *   Down button to trigger down shift
     */
  enableMoveUpDown (upButton, downButton) {
    this.moveUpDownEnabled = true;
    this.upButton = upButton;
    this.downButton = downButton;
    upButton.addEventListener('click', this.moveUpItems.bind(this));
    downButton.addEventListener('click', this.moveDownItems.bind(this));
  }

  /**
     * @description
     *  Enable Move controls. Moving removes selected items from the current
     *  list and adds them to the sibling list.
     * @param button
     *   Move button to trigger delete
     * @param siblingList
     *   Listbox to move items to
     */
  setupMove (button, siblingList) {
    this.siblingList = siblingList;
    this.moveButton = button;
    button.addEventListener('click', this.moveItems.bind(this));
  }

  setHandleItemChange (handlerFn) {
    this.handleItemChange = handlerFn;
  }

  setHandleFocusChange (focusChangeHandler) {
    this.handleFocusChange = focusChangeHandler;
  }
};

/**
   * @class
   * @description
   *  Toolbar object representing the state and interactions for a toolbar widget
   * @param toolbarNode
   *  The DOM node pointing to the toolbar
   */

lbw.Toolbar = class Toolbar {
  constructor (toolbarNode) {
    this.toolbarNode = toolbarNode;
    this.items = this.toolbarNode.querySelectorAll('.toolbar-item');
    this.selectedItem = this.toolbarNode.querySelector('.selected');
    this.registerEvents();
  }

  /**
     * @description
     *  Register events for the toolbar interactions
     */
  registerEvents () {
    this.toolbarNode.addEventListener(
      'keydown',
      this.checkFocusChange.bind(this)
    );
    this.toolbarNode.addEventListener('click', this.checkClickItem.bind(this));
  }

  /**
     * @description
     *  Handle constious keyboard commands to move focus:
     *    LEFT:  Previous button
     *    RIGHT: Next button
     *    HOME:  First button
     *    END:   Last button
     * @param evt
     *  The keydown event object
     */
  checkFocusChange (evt) {
    let nextIndex, nextItem;

    // Do not move focus if any modifier keys pressed
    if (!evt.shiftKey && !evt.metaKey && !evt.altKey && !evt.ctrlKey) {
      switch (evt.key) {
        case 'ArrowLeft':
        case 'ArrowRight':
          nextIndex = Array.prototype.indexOf.call(
            this.items,
            this.selectedItem
          );
          nextIndex = evt.key === 'ArrowLeft' ? nextIndex - 1 : nextIndex + 1;
          nextIndex = Math.max(Math.min(nextIndex, this.items.length - 1), 0);

          nextItem = this.items[nextIndex];
          break;

        case 'End':
          nextItem = this.items[this.items.length - 1];
          break;

        case 'Home':
          nextItem = this.items[0];
          break;
      }

      if (nextItem) {
        this.selectItem(nextItem);
        this.focusItem(nextItem);
        evt.stopPropagation();
        evt.preventDefault();
      }
    }
  }

  /**
     * @description
     *  Selects a toolbar item if it is clicked
     * @param evt
     *  The click event object
     */
  checkClickItem (evt) {
    if (evt.target.classList.contains('toolbar-item')) {
      this.selectItem(evt.target);
    }
  }

  /**
     * @description
     *  Deselect the specified item
     * @param element
     *  The item to deselect
     */
  deselectItem (element) {
    element.classList.remove('selected');
    element.setAttribute('aria-selected', 'false');
    element.setAttribute('tabindex', '-1');
  }

  /**
     * @description
     *  Deselect the currently selected item and select the specified item
     * @param element
     *  The item to select
     */
  selectItem (element) {
    this.deselectItem(this.selectedItem);
    element.classList.add('selected');
    element.setAttribute('aria-selected', 'true');
    element.setAttribute('tabindex', '0');
    this.selectedItem = element;
  }

  /**
     * @description
     *  Focus on the specified item
     * @param element
     *  The item to focus on
     */
  focusItem (element) {
    element.focus();
  }
};
/*
   *   This content is licensed according to the W3C Software License at
   *   https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document
   */

/**
   * ARIA Listbox Examples
   *
   * @function onload
   * @description Initialize the listbox examples once the page has loaded
   */

window.addEventListener('load', function () {
  if (document.getElementById('ss_imp_list')) {
    const ex1ImportantListbox = new lbw.Listbox(
      document.getElementById('ss_imp_list')
    );
    const ex1UnimportantListbox = new lbw.Listbox(
      document.getElementById('ss_unimp_list')
    );
      // eslint-disable-next-line no-new
    new lbw.Toolbar(document.querySelector('[role="toolbar"]'));

    ex1ImportantListbox.enableMoveUpDown(
      document.getElementById('ex1-up'),
      document.getElementById('ex1-down')
    );
    ex1ImportantListbox.setupMove(
      document.getElementById('ex1-delete'),
      ex1UnimportantListbox
    );
    ex1ImportantListbox.setHandleItemChange(function (event, items) {
      let updateText = '';

      switch (event) {
        case 'added':
          updateText =
              'Moved ' + items[0].innerText + ' to important features.';
          break;
        case 'removed':
          updateText =
              'Moved ' + items[0].innerText + ' to unimportant features.';
          break;
        case 'moved_up':
        case 'moved_down': {
          let pos = Array.prototype.indexOf.call(
            this.listboxNode.children,
            items[0]
          );
          pos++;
          updateText = 'Moved to position ' + pos;
          break;
        }
      }

      if (updateText) {
        const ex1LiveRegion = document.getElementById('ss_live_region');
        ex1LiveRegion.innerText = updateText;
      }
    });
    ex1UnimportantListbox.setupMove(
      document.getElementById('ex1-add'),
      ex1ImportantListbox
    );
  }

  // This onload handle initializes two examples. Only initialize example if the example
  // can be found in the dom.
  if (document.getElementById('ms_imp_list')) {
    const ex2ImportantListbox = new lbw.Listbox(
      document.getElementById('ms_imp_list')
    );
    const ex2UnimportantListbox = new lbw.Listbox(
      document.getElementById('ms_unimp_list')
    );

    ex2ImportantListbox.setupMove(
      document.getElementById('ex2-add'),
      ex2UnimportantListbox
    );
    ex2UnimportantListbox.setupMove(
      document.getElementById('ex2-delete'),
      ex2ImportantListbox
    );
    ex2UnimportantListbox.setHandleItemChange(function (event, items) {
      let updateText = '';
      const itemText = items.length === 1 ? '1 item' : items.length + ' items';

      switch (event) {
        case 'added': {
          updateText = 'Added ' + itemText + ' to chosen features.';
          break;
        }
        case 'removed': {
          updateText = 'Removed ' + itemText + ' from chosen features.';
          break;
        }
      }

      if (updateText) {
        const ex1LiveRegion = document.getElementById('ms_live_region');
        ex1LiveRegion.innerText = updateText;
      }
    });
  }
});
</script>