<div class="nav-bar">
    <a class="nav-bar__home-button" href="/">
      {# TO DO: REFACTOR LOGO INTO COMPONENT #}
      {% include 'tokens/main-logo--animated.html' %}
  
      <span class="screen-reader-only">Home</span>
    </a>
  
    <nav class="nav-bar__nav-menu">
      <ul>
        {% for item in nav_menu %}
          <li class="nav-menu__item">
            {# If you want to disable a nav item, please don't use an anchor, make it another element instead #}
            <a class="nav-menu__button"
              {% if item.id %} id="{{ item.id }}"{% endif %}
              href="{{ item.url }}"
              {% if item.target %} target="{{ item.target }}"{% endif %}
              {% if item.isexternal %} rel="noopener noreferrer"{% endif %}>
              {{ item.name }}
              {% if item.target %}<span class="screen-reader-only">(opens in a new tab)</span>{% endif %}
              {# I've ommitted the title attribute because it's not great for accessibility #}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
