{% load frontend %}

<article class="media-card media-card--yellow">
    <div class="media-card__content_no_image">
    <header class="media-card__header">
        <h3 class="media-card__heading">As Recipient</h3>
    </header>
    <p>[ copy to introduce to as recipient here ]</p>
    <h4>Summary</h4>
    <div class="media-card__box_container">
        <div class="media-card__box">
        <strong>Total Grants</strong> <br />
        {{recipient.grants | get_amount }}
        </div>
        <div class="media-card__box">
        <strong>Earliest Award</strong> <br />
        {{recipient.minAwardDate | get_date }}
        </div>
        <div class="media-card__box">
        <strong>Latest Award</strong> <br />
        {{recipient.maxAwardDate | get_date }}
        </div>
    </div>
    <div class="media-card__box_container">
        {% for stat in recipient.stats_by_currency %}
        <div class="media-card__box">
            <strong> Grants in {{stat.currency}} </strong> <br/>
            {{stat.grants | get_amount }}
        </div>
        <div class="media-card__box">
            <strong> Total Grants {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br/>
            {{stat.currency | currency_symbol}}{{stat.total | get_amount}}
        </div>
        <div class="media-card__box">
            <strong> Greatest Amount {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br/>
            {{stat.currency | currency_symbol}}{{stat.max | get_amount}}
        </div>
        <div class="media-card__box">
            <strong> Average Amount {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br/>
            {{stat.currency | currency_symbol}}{{stat.avg | get_amount}}
        </div>
        {% endfor %}
    </div>

    <a href="{% url 'search' %}?{{recipient.grant_search_parameters}}" class="button pull-right">Explore grants</a>
    {% for currency, funders in recipient_funders.items %}
        <h4>Recpients Funders <small>({{currency}})</small></h4>
        <table class="table table--primary table--primary table--small dt-responsive">
            <thead>
                <tr>
                <th>Funder</th>
                <th>Grants</th>
                <th>Total</th>
                <th>Smallest</th>
                <th>Largest</th>
                <th>Average</th>
            </thead>
            <tbody>
                {% for funder in funders %}
                <tr>
                <td><a href="{% url 'org' funder.org_id %}">{{ funder.name }}</a></td>
                <td>{{ funder.count | get_amount }}</td>
                <td>{{currency | currency_symbol}}{{ funder.sum | get_amount }}</td>
                <td>{{currency | currency_symbol}}{{ funder.min | get_amount }}</td>
                <td>{{currency | currency_symbol}}{{ funder.max | get_amount }}</td>
                <td>{{currency | currency_symbol}}{{ funder.avg | get_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    </div>
</article>