{% load frontend %}
<article class="media-card media-card--teal">
  <div class="media-card__content_no_image">
    <header class="media-card__header">
        <h3 class="media-card__heading" id="Funder">As Funder</h3>
    </header>
    <h4>Summary</h4>
    <p>{{org_names.0}} appears in the 360Giving data as a funder of grants.
    Here is an overview of the grants they have funded.</p>
    <div class="media-card__box_container">
        {% if funder.aggregate.grants_org and funder.aggregate.grants_ind %}
        <div class="media-card__box">
            <strong>All Grants</strong> <br />
            <span style="word-break: break-all">{{funder.aggregate.grants | get_amount }}</span>
        </div>
        {% endif %}
        {# Only funds grants to org #}
        {% if funder.aggregate.grants_org and not funder.aggregate.grants_ind %}
        <div class="media-card__box">
            <strong>Recipient Organisations</strong> <br />
            {{funder.aggregate.grants_org | get_amount }}
        </div>
        {% endif %}

        {# Only funds grants to ind #}
        {% if funder.aggregate.grants_ind and not funder.aggregate.grants_org %}
        <div class="media-card__box">
            <strong>Grants To Individuals</strong> <br />
            {{funder.aggregate.grants_ind | get_amount }}
        </div>
        {% endif %}
        <div class="media-card__box">
            <strong>Earliest Award</strong> <br />
            {{funder.aggregate.minAwardDate | get_date }}
        </div>
        <div class="media-card__box">
            <strong>Latest Award</strong> <br />
            {{funder.aggregate.maxAwardDate | get_date }}
        </div>
        {# Funds either orgs or indv but not both #}
        {% if funder.aggregate.grants_org == 0 and funder.aggregate.grants_ind > 0 or funder.aggregate.grants_ind == 0 and funder.aggregate.grants_org > 0 %}
          {% if funder.stats_by_currency|length == 1 %}
            {% for stat in funder.stats_by_currency %}
            <div class="media-card__box">
                <strong> Total Amount{%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.total | get_amount}}
            </div>
            <div class="media-card__box">
                <strong> Largest Amount {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.max | get_amount}}
            </div>
            <div class="media-card__box">
                <strong> Smallest Amount {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.min | get_amount}} <br/>
            </div>
            {% endfor %}
          {% endif %}
        {% endif %}
    </div>

    {% if funder.aggregate.currencies.keys|length == 1 %}

    {% if funder.aggregate.grants_org and funder.aggregate.grants_ind %}
    <h5>Grants to Individuals</h5>
    {% for stat in funder.stats_by_currency %}
      {% if stat.recipient_type == 'recipient_ind' %}
        <div class="media-card__box_container">
             <div class="media-card__box">
                <strong> Grants</strong> <br />
                {{funder.aggregate.grants_ind | get_amount}}
             </div>
             <div class="media-card__box">
                <strong> Total Amount{%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.total | get_amount}}
            </div>
            <div class="media-card__box">
                <strong> Largest Amount {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.max | get_amount}}
            </div>
            <div class="media-card__box">
                <strong> Smallest Amount {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.min | get_amount}} <br/>
            </div>
        </div>
      {% endif %}
    {% endfor %}
    <h5>Recipient Organisations</h5>
    {% for stat in funder.stats_by_currency %}
      {% if stat.recipient_type == 'recipient_org' %}
        <div class="media-card__box_container">
             <div class="media-card__box">
                <strong> Grants</strong> <br />
                {{funder.aggregate.grants_org | get_amount}}
            </div>
             <div class="media-card__box">
                <strong> Total Amount{%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.total | get_amount}}
            </div>
            <div class="media-card__box">
                <strong> Largest Amount {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.max | get_amount}}
            </div>
            <div class="media-card__box">
                <strong> Smallest Amount {%if stat.currency != 'GBP'%} ({{stat.currency}}) {% endif %}</strong> <br />
                {{stat.currency | currency_symbol}}{{stat.min | get_amount}} <br/>
            </div>
        </div>
      {% endif %}
    {% endfor %}


    {% endif %}

    {% elif funder.aggregate.currencies.keys|length > 1 %}
    <p>{{org_names.0}} makes grants in {{funder.stats_by_currency|length}} currencies.</p>

    <table class="table table--zebra dt-responsive generic_datatables" style="width: 100%">
        <thead>
          <tr>
            <th class="all">Currency</th>
            <th class="min-tablet-p">Grants</th>
            <th class="amount min-tablet-p">Total Amount</th>
            <th class="amount min-tablet-l">Largest Amount</th>
            <th class="amount min-tablet-l">Smallest Amount</th>
            {% if funder.grants_org and funder.grants_ind %}
            <th class="amount min-tablet-l">Recipient Type</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for stat in funder.stats_by_currency %}
          <tr>
            <td class="table__lead-cell">{{stat.currency}}</td>
            <td>{{stat.grants | get_amount }}</td>
            <td>{{stat.currency | currency_symbol}}{{stat.total | get_amount}}</td>
            <td>{{stat.currency | currency_symbol}}{{stat.max | get_amount}}</td>
            <td>{{stat.currency | currency_symbol}}{{stat.min | get_amount}}</td>
            {% if funder.grants_org and funder.grants_ind %}
            <td>{{stat.recipient_type}}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="spacer-2"></div>
    {% endif %}


    {% if not publisher and funder.funder_publisher %}
    <p>This data was originally published by {{ funder.funder_publisher.name }} see <a href="{% url 'org' funder.funder_publisher.prefix %}">their GrantNav publisher page</a> for more information.</p>

    {% endif %}

    <a href="{% url 'search' %}?{{funder.grant_search_parameters}}" class="button pull-right" title="Explore all the grants made by {{org_names.0}}">Explore Grants</a>

    <p>This data is provided for information purposes only.
    Please refer to the funder website for details of current grant programmes,
    application guidelines and eligibility criteria.</p>

    {% if funder.aggregate.individual_recipients.grants > 0 %}
    <div class="section">
      <h4>Recipient Individuals</h4>
      <p>{{org_names.0}} funds the following grants to individuals.</p>
      <div class="media-card__box_container">
        <div class="media-card__box">
            <strong>Grants</strong> <br />
            {{funder.aggregate.individual_recipients.grants | get_amount }} <br/>
        </div>

        <div class="media-card__box">
            <strong>Total Amount</strong> <br />
            £{{funder.aggregate.individual_recipients.total | get_amount }} <br/>
        </div>

        <div class="media-card__box">
            <strong>Largest Amount</strong> <br />
            £{{funder.aggregate.individual_recipients.max | get_amount }} <br/>
        </div>

        <div class="media-card__box">
            <strong>Smallest Amount</strong> <br />
            £{{funder.aggregate.individual_recipients.min | get_amount }} <br/>
        </div>

      </div>
    </div>
    {% endif %}

    {% if funder.aggregate.grants_org %}
    <div class="section">
      <h4>Recipient Organisations</h4>
        <p>This table shows the recipient organisations who have received grants made by {{org_names.0}}.</p>
        <div class="grantnav-datatable__content--filters margin-top:05">
        <div><!-- grid item --></div>
        <div class="export-wrapper">
            <div class="export-label">Export search data:</div>

            <div class="export-button">
            {% include 'components/export-data-button--csv.html' with data_function='funder_recipients_datatables.csv' parameter="funder_id=" query=org_ids_json %}
            </div>

            <div class="export-button">
            {% include 'components/export-data-button--json.html' with data_function='funder_recipients_datatables.json' parameter="funder_id=" query=org_ids_json %}
            </div>
        </div>
        </div>
        <div class="table table--zebra margin-top:1">
        <table class="table table--zebra table--small dt-responsive" id="recipients_datatable" style="width: 100%">
            <thead>
            <tr>
                <th class="all">Recipient</th>
                <th class="min-tablet-p">Grants</th>
                <th class="amount min-tablet-p">Total</th>
                <th class="amount min-tablet-l">Largest</th>
                <th class="amount min-tablet-l">Smallest</th>
            </tr>
            </thead>
        </table>
        </div>
    </div>
    {% endif %}

    <div class="spacer-1"></div>
</div>
</article>
