
<article class="media-card media-card--red">
    <div class="media-card__content_no_image">
    <header class="media-card__header">
        <a name="Publisher"></a>
        <h3 class="media-card__heading">As Publisher</h3>
    </header>

        <p>{{ publisher.name }} appears in the 360Giving data as a publisher of grants, identified with the 360Giving Publisher prefix {{publisher.prefix}}.

        <p><strong>GrantNav is not directly responsible for any of the data on this site.</strong> If you notice a problem with the data, please contact the relevant publisher directly.</p>
        {% if publisher.datasets.0.distribution.0.accessURL %}
        <p>
            {{ publisher.name }} has provided the following link for information about their data:
            <a href="{{ publisher.datasets.0.distribution.0.accessURL }}">{{ publisher.datasets.0.distribution.0.accessURL }}</a>
        </p>
        {% endif %}

        {% if publisher.website %}
        <p><strong>Website:</strong> <a href="{{ publisher.website }}">{{ publisher.website }}</a></p>
        {% endif %}

        <h4>Datasets</h4>
        <p>Here is an overview of grants published by {{publisher.name}}.</p>
        <table class="table table--zebra table--small dt-responsive generic_datatables" style="width: 100%">
        <thead>
            <tr>
            <th class="all">Dataset (download link)</th>
            <th class="min-tablet-p">Retrieved for use in GrantNav</th>
            <th class="min-tablet-l">License</th>
            <th class="min-tablet-l">Funders covered</th>
            </tr>
        </thead>
        <tbody>
            {% for dataset in publisher.datasets %}
            <tr>
            <td class="table__lead-cell"><a href="{{ dataset.distribution.0.downloadURL }}">{{ dataset.title }}</a></td>
            <td>{{ dataset.datagetter_metadata.datetime_downloaded }}</td>
            <td><a href="{{ dataset.license }}">{{ dataset.license }}</a></td>
            <td>
                {% for funder_name, funder_id in dataset.funders %}
                <a href="{% url 'org'  funder_id %}">{{ funder_name}}</a>
                {% endfor %}
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
</article>
