<div class="search-block search-block--advanced search-block--recipients">
  <div class="wrapper">
    <div class="search-block__description">{{ description }}</div>

    <div class="search-block__label">
      <label></label>
      <label class="search-block__form-item-label" for="search-view">Enter a search term:</label>
    </div>

    <form role="search" action="{% url 'recipients' %}">
      <div class="search-block__form-group">
          <input name="text_query" class="form-control large-search" placeholder="Search Recipients" type="text" value="{{text_query}}">
          <input name="json_query" class="form-control" type="hidden" value="{{json_query}}">
      </div>
      <br/>

      <div class="search-block__form-action-group">
        <input class="large-search-button" name="submit" type="submit" value="Search">
      </div>
    </form>
  </div>
</div>
