<div class="search-block search-block--simple">
  <div class="wrapper">
    <div class="search-block__description">Search, explore, and download UK grants data published by funders in the 360Giving Data Standard.</div>
    <div>
      <form role="search" action="{% url 'search' %}">
        <div>
          <label class="search-block__form-item-label" for="search_query">Enter a search term</label>
          <label class="search-block__form-item-label pull-right">
            <a href="#">Advanced Search</a>
          </label>
        </div>
        <div class="search-block__form-group">
          <input name="text_query" class="form-control large-search" placeholder="Search grants, funders, recipients, locations" type="text" value="{{text_query}}">
          <input class="large-search-button" name="submit" type="submit" value="Search">
          <input name="json_query" class="form-control" type="hidden" value="{{json_query}}">
        </div>
      </form>
    </div>
  </div>
</div>
