<div class="search-block search-block--advanced">
  <div class="wrapper">
    <div class="search-block__description">{{ description }}</div>

    <div class="search-block__label">
      {% block alert %}
        {% include 'components/alert-tag.html' %}
      {% endblock alert %}
      <label class="search-block__form-item-label" for="search-view">Enter a search term</label>
    </div>

    <form role="search" action="{% url 'search' %}">
      <div class="search-block__form-group">
          <input name="text_query" class="form-control large-search" placeholder="Search grants, funders, recipients, locations" type="text" value="{{text_query}}">
          <input name="json_query" class="form-control" type="hidden" value="{{json_query}}">
      </div>
      <div class="search-block__form-radio-group">
        <div class="search-block__form-group-label">
          Search:
        </div>
        {% include 'components/search-radio.html' %}
      </div>

      <div class="search-block__form-action-group">
        <input class="" name="submit" type="submit" value="Search">
      </div>
    </form>
  </div>
</div>
