{% load frontend %}
{% load graphs %}

<section class="search-summary">
  {% with currency=results.aggregations.currency_stats.buckets|first|get:"key"|upper buckets=results.aggregations.currency_stats.buckets%}
    <header class="search-summary--header">
      <div class="search-summary--title">
        <span>Search summary</span>
      </div>
    <div class="search-summary--description">
      <span>To visualise the results of your search, open in
        <a href="{{insights_base_url}}/?{{ query_string }}" title="View search results in GrantVis data visualiser" data-testid="insights-integration-btn">
          GrantVis
        </a>
      </span>
    </div>
    </header>

    <main class="search-summary--main">
      <div class="search-summary--main__left-column">
        <div class="graph-item">
          <div class="graph-label">Amount awarded</div>
          <div class="graph-container" style="display: inline">
            {% amount_awarded_graph %}
          </div>
        </div>

        <div class="graph-item">
          <div class="graph-label">Date awarded</div>
          <div class="graph-container" style="display: inline">
            {% award_date_graph %}
          </div>
        </div>

      </div>


      <div class="search-summary--main__right-column">
        <div class="summary-content--item">
          <span>Total grants: {{results.hits.total|get_amount}}</span>
        </div>
        <div class="summary-content--item">
          <span>Total amount: {{currency|currency_symbol}}{{buckets|first|get:"amount_stats"|get:"sum"|get_amount}}</span>
        </div>
        <div class="summary-content--item">
          <span>Funders: {{results.aggregations.funding_orgs.value|get_amount}}</span>
        </div>
        <div class="summary-content--item">
          <span>Recipient organisations: {{results.aggregations.recipient_orgs.value|get_amount}}</span>
        </div>
        <div class="summary-content--item">
          <span>Recipient individuals: {{results.aggregations.recipient_indi.value|get_amount}}</span>
        </div>
        <div class="summary-content--item">
          <span>Earliest grant: {{results.aggregations.earliest_grant.hits.hits.0|get:"_source"|get:"awardDate"|get_date}}</span>
        </div>
        <div class="summary-content--item">
          <span>Latest grant: {{results.aggregations.latest_grant.hits.hits.0|get:"_source"|get:"awardDate"|get_date}}</span>
        </div>
        <div class="summary-illustration">{% include './summary-illustration.html' %}</div>
      </div>
    </main>

    <footer class="search-summary--footer">
      <details class="search-summary--footer__details">
        <summary>
          <span class="summary-label">Show highlighted grants</span>
          <span class="summary-icon" aria-hidden="true">
            <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.5715 2L7.73867 7.66956L2 2.0128" stroke="#153634" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
          </span>
        </summary>
        <div class="summary-footer--content">
          <div class="summary-footer--item">
            <span class="summary-footer--item__label">Largest grant:</span>
            <span class="summary-footer--item__value">
              {{currency|currency_symbol}}{{buckets|first|get:"largest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"amountAwarded"|human_format}}
              from
              <a href="grant/{{buckets|first|get:"largest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"id"}}">
                {{buckets|first|get:"largest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"fundingOrganization"|first|get:"name"}}
              to
              {% with recipientOrganization_to=buckets|first|get:"largest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"recipientOrganization" %}
                {% if recipientOrganization_to  %}
                  {{recipientOrganization_to|first|get:"name"}}
                {% else %}
                  Individual
                {% endif %}
              {% endwith %}
              </a>
              ({{buckets|first|get:"largest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"awardDate"|get_year}})
            </span>
          </div>
          {% if buckets|first|get:"smallest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"amountAwarded" > 0 %}
            <div class="summary-footer--item">
              <span class="summary-footer--item__label">Smallest grant:</span>
              <span class="summary-footer--item__value">
                {{currency|currency_symbol}}{{buckets|first|get:"smallest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"amountAwarded"|human_format}}
                from
                <a href="grant/{{buckets|first|get:"smallest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"id"}}">
                  {{buckets|first|get:"smallest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"fundingOrganization"|first|get:"name"}}
                to
                {% with recipientOrganization_to=buckets|first|get:"smallest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"recipientOrganization" %}
                 {% if recipientOrganization_to %}
                    {{recipientOrganization_to|first|get:"name"}}
                  {% else %}
                    Individual
                  {% endif %}
                {% endwith %}
                  </a>
                ({{buckets|first|get:"smallest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"awardDate"|get_year}})
              </span>
            </div>
          {% endif %}

          <div class="summary-footer--item">
            <span class="summary-footer--item__label">Most recent grant:</span>
            <span class="summary-footer--item__value">
              {{currency|currency_symbol}}{{results.aggregations.latest_grant.hits.hits.0|get:"_source"|get:"amountAwarded"|human_format}}
              from
              <a href="grant/{{results.aggregations.latest_grant.hits.hits.0|get:"_source"|get:"id"}}">
                {{results.aggregations.latest_grant.hits.hits.0|get:"_source"|get:"fundingOrganization"|first|get:"name"}}
              to
              {% with recipientOrganization_to=results.aggregations.latest_grant.hits.hits.0|get:"_source"|get:"recipientOrganization" %}
                {% if recipientOrganization_to %}
                  {{recipientOrganization_to|first|get:"name"}}
                {% else %}
                  Individual
                {% endif %}
              {% endwith %}
              </a>
              ({{results.aggregations.latest_grant.hits.hits.0|get:"_source"|get:"awardDate"|get_year}})
              </span>
            </div>
          <div class="summary-footer--item">
            <span class="summary-footer--item__label">Oldest grant:</span>
            <span class="summary-footer--item__value">
              {{currency|currency_symbol}}{{results.aggregations.earliest_grant.hits.hits.0|get:"_source"|get:"amountAwarded"|human_format}}
              from
              <a href="grant/{{results.aggregations.earliest_grant.hits.hits.0|get:"_source"|get:"id"}}">
                {{results.aggregations.earliest_grant.hits.hits.0|get:"_source"|get:"fundingOrganization"|first|get:"name"}}
              to
              {% with recipientOrganization_to=results.aggregations.earliest_grant.hits.hits.0|get:"_source"|get:"recipientOrganization" %}
                {% if recipientOrganization_to %}
                  {{recipientOrganization_to|first|get:"name"}}
                {% else %}
                  Individual
                {% endif %}
              {% endwith %}
               </a>
              ({{results.aggregations.earliest_grant.hits.hits.0|get:"_source"|get:"awardDate"|get_year}})
              </span>
          </div>
          <div class="summary-footer--item">
              {% with total_other=buckets|first|get:"amount_stats"|get:"count"|reverse_minus:results.hits.total.value %}
                <span class="summary-footer--item__label">Total non-{{currency}} grants:</span>
                {% if total_other %}
                  <a href="#other-currencies-modal" class="javascript-enabled modal__trigger" id="other-currencies-modal" data-id="summary-info-model">
                    <span class="summary-footer--item__value">{{total_other|get_amount}}</span>
                  </a>
                {% else %}
                  0
                {% endif %}
              {% endwith %}
          </div>
          {% if buckets|first|get:"smallest_grant"|get:"hits"|get:"hits"|first|get:"_source"|get:"amountAwarded" > 0 %}
          <div class="summary-footer--item">
          </div>
          {% endif %}
        </div>
      </details>
    </footer>

  {% endwith %}
</section>

<div id="summary-info-model" class="modal" aria-hidden>
  <div class="modal__overlay modal__trigger" data-id="summary-info-model"></div>
  <div class="modal__window">
    <button class="modal__close modal__trigger" data-id="summary-info-model"></button>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Award amounts in other currencies</h4>
      </div>
      <div class="modal-body">
        {% for bucket in results.aggregations.currency_stats.buckets %}
          {% if not forloop.first %}
            {% with currency=bucket|get:"key"|upper %}
              <dl class="dl-horizontal top-stats-search">
                <dt>Total {{currency}} grants</dt> <dd>{{bucket|get:"amount_stats"|get:"count"|get_amount}}</dd>
                <dt>Total {{currency}} awarded</dt> <dd>{{currency|currency_symbol}}{{bucket|get:"amount_stats"|get:"sum"|get_amount}}</dd>
                <dt>Largest {{currency}} award</dt> <dd>{{currency|currency_symbol}}{{bucket|get:"amount_stats"|get:"max"|get_amount}}</dd>
                <dt>Smallest {{currency}} award</dt> <dd>{{currency|currency_symbol}}{{bucket|get:"amount_stats"|get:"min"|get_amount}}</dd>
              </dl>
              <hr>
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
document.querySelectorAll('.modal__trigger').forEach(function (el) {
  el.onclick = function () {
    const target = el.getAttribute('data-id');
    const modal = document.getElementById(target);
    const body = document.getElementsByTagName('body');

    if (modal.hasAttribute('aria-hidden')) {
      modal.removeAttribute('aria-hidden');
      modal.classList.add('modal--shown');
      body[0].classList.add('modal--shown');
    } else {
      modal.setAttribute('aria-hidden', '');
      modal.classList.remove('modal--shown');
      body[0].classList.remove('modal--shown');
    }
  };
});
</script>
