{% extends 'widgets/widgets_base.html' %}

{% block title %}
  360Giving Grants Data from
  {% if selected_facets.Funders %}
    {% for funder in selected_facets.Funders %}
      {% if forloop.counter0 > 0 and forloop.counter0 is not selected_facets.Funders|length %} and {% endif %}
      {{funder.display_value}}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block extra_style %}
  {% include 'components/grants_table_styles.html' %}
{% endblock %}

{% block main_content%}
  {% include 'widgets/widgets_header.html' with title="Grants data from 360Giving" %}
  {% include 'components/grants_table.html' with widget=True %}
{% endblock %}

{% block extra_scripts %}
  {% include 'components/grants_table_scripts.html' with widget=True %}
{% endblock %}
