<div class="nav-bar nav-bar-minimal padding:0">
  <div class="nav-bar__home-button margin-right:2">
    <a class="grantnav-link" href="about:blank" target="_blank">
      {% include 'tokens/main-logo.html' %}
    </a>
  </div>
  <div class="hero__title margin-right:2">
    <strong>{{ title }}</strong>
  </div>
  <div class="nav-bar__nav-menu justify-content-end white-wash">
    <span>To explore this dataset in more detail, open in
    </span>
    <a class="grantnav-link" href="about:blank" target="_blank">
      Grantnav
    </a>
  </div>
</div>
<hr class="separator-light">
