// Flatly 3.3.5
// Bootswatch
// -----------------------------------------------------
// Grantnav custom

@font-face {
    font-family: 'ostrich_sans_roundedmedium';
    src: url('../fonts/sans-rounded.woff2') format('woff2'),
         url('../fonts/ostrich-sans-rounded.woff') format('woff'),
         url('../fonts/ostrich-sans-rounded.ttf') format('truetype'),
         url('../fonts/ostrich-sans-rounded.svg#ostrich_sans_roundedmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.link-on-orange {
  color: grey;
  &:hover {
    color: grey
  }
  &:active {
    color: grey
  }
  &:visited {
    color: grey
  }
}

.home-info {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: white;
}

.home-number {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: white;
  font-size: 56px;
  margin-bottom: 6px;
  margin-top: 7px;
}

.home-number-text {
  font-size: 30px;
  color: #663a0e;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 0px;
}

.left-stat {
  border-right: 4px solid rgb(229, 131, 30);
}
.right-stat {
  border-left: 4px solid rgb(229, 131, 30);
}
.stat-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #333;
}
.footer-info {
  margin-top: 15px;
  color: #c1c1c1;
}
////////////

$web-font-path: "https://fonts.googleapis.com/css?family=Lato:400,700,400italic" !default;
@import url($web-font-path);

// Navbar =====================================================================

.navbar {
  border-width: 0;

  &-default {

    .badge {
      background-color: #fff;
      color: $navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: $navbar-inverse-bg;
    }
  }

  &-brand {
    //grantnav changes
    color: #FFF;
    font-family: ostrich_sans_roundedmedium,sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 1.9em;
    padding: 0px 12px;
    @media (min-width: $grid-float-breakpoint) {
      .navbar > .container &,
      .navbar > .container-fluid & {
        margin-left: 0;
      }
    }
    &:hover {
      color: #FFF !important
    }
    //grantnav
  }

  &-header {
    margin-left: 10px;
  }
}


// Buttons ====================================================================

.btn {
  border-width: 2px;
}

.btn:active {
  @include box-shadow(none);
}

.btn-group.open .dropdown-toggle {
  @include box-shadow(none);
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

// grantnav
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 85%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 95%;
  }
}
//

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    > th > a,
    > td > a,
    > a {
      color: #fff;
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border: none;
  }

  &-bordered > thead > tr > th,
  &-bordered > tbody > tr > th,
  &-bordered > tfoot > tr > th,
  &-bordered > thead > tr > td,
  &-bordered > tbody > tr > td,
  &-bordered > tfoot > tr > td {
    border: 1px solid $table-border-color;
  }
}

// Forms ======================================================================

.form-control,
input {
  border-width: 2px;
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-warning;
  }

  .input-group-addon {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-danger;
  }

  .input-group-addon {
    border-color: $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-success;
  }

  .input-group-addon {
    border-color: $brand-success;
  }
}

//grantnav

::-webkit-input-placeholder {font-style:italic}
::-moz-placeholder {font-style:italic} /* firefox 19+ */
:-ms-input-placeholder {font-style:italic} /* ie */
input:-moz-placeholder {font-style:italic}

.container-wrapper {
  background-color: $brand-success;
  margin-top: -21px;
  padding-top: 15px;
}

.search-box {
  left: 18px;
}

.search-icon {
  right: 18px;
  z-index: 1000;
  position: relative;
}

.large-search {
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 12px;
  border: 2px solid #e5831e;
  background-color: #FFF;
  font-size: 28px;
  height: 79px;
  float: left;
}

.large-search-icon {
  position: absolute;
  right: 38px;
  top: 26px;
}

.search-help {
  font-size: 1.1em;
  color: #663a0e;
  padding-top: 5px;
  margin-left: 20px;
}

.col-vlg-offset-1 {
  @media (min-width: 1400px) {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
//

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pager {
  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: $pagination-disabled-bg;
    }
  }
}

// Indicators =================================================================

.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: #fff;
    opacity: 1;
  }
}

.alert {

  .alert-link {
    color: #fff;
    text-decoration: underline;
  }
}

// Progress bars ==============================================================

.progress {
  height: 10px;
  @include box-shadow(none);
  .progress-bar {
    font-size: 10px;
    line-height: 10px;
  }
}

// Containers =================================================================

.well {
  @include box-shadow(none);
}

a.list-group-item {

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: $list-group-border;
  }

  &-success {
    &.active {
      background-color: $state-success-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-success-bg, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: $state-warning-bg;
    }
    
    &.active:hover,
    &.active:focus {
      background-color: darken($state-warning-bg, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: $state-danger-bg;
    }
    
    &.active:hover,
    &.active:focus {
      background-color: darken($state-danger-bg, 5%);
    }
  }
}

.panel {
  &-default {
    .close {
      color: $text-color;
    }
  }
}

.modal {
  .close {
    color: $text-color;
  }
}

.popover {
  color: $text-color;
}
