.alert-tag {
  display: block;
  border-radius: 6px;
  padding: 6px;
  background: $yellow-tint;
  font-size: 13px;
  font-weight: 400;
  text-align: left;

  &__icon {
    display: inline-block;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: -3px;
    vertical-align: middle;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 1px;
    color: $black;

    &:hover {
      color: $black;
      text-decoration-style: dashed;
    }
  }

  // This is necessary to avoid underlining the icon
  &--anchor {
    padding: 5px;

    &:hover {
      background: $yellow;
    }

    &:focus {
      outline-offset: -2px;
    }

    .alert-tag__content {
      text-underline-offset: 1px;
      color: $black;
    }

    &:hover {
      .alert-tag__content {
        color: $black;
        text-decoration: underline;
        text-decoration-style: dashed;
      }
    }
  }
}
