.dropdown-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include breakpoint($medium) {
    flex-wrap: nowrap;
  }

  &__label {
    flex-shrink: 0;
    align-self: flex-start;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
    margin-right: 10px;
  }

  &__select {
    font-weight: 400;
    font-size: 16px;
    padding: 2px 4px;
  }
}
