.filter-group {
  border-radius: 1px;
  margin-bottom: 4px;

  @include breakpoint($medium) {
    margin-bottom: 20px;
  }


  &__accordion[open] {
    .filter-group__label .accordion-toggle-icon {
      .accordion-toggle-icon__vertical-line {
        transform-origin: center;
        transform: rotateZ(90deg);
        transition: 0.1s;
      }
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $orange-tint-light;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 10px;
    border: 1px solid $orange-tint;
    border-radius: 2px;

    @include breakpoint($medium) {
      padding: 18px 10px;
    }

    .accordion-toggle-icon {
      transition: 0.2s;

      &__vertical-line {
        transform-origin: center;
        transform: rotateZ(0deg);
        transition: 0.1s;
      }
    }

    &:hover {
      cursor: pointer;

      .accordion-toggle-icon {
        transform: scale(1.1, 1.1);
        transition: 0.2s;
      }
    }

    &::marker {
      display: none;
    }
  }
  &_contents-wrapper {
    padding: 4px 0;

    > * {
      margin-bottom: 4px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
