.filter-summary {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  flex-wrap: wrap;

  @include breakpoint($medium) {
    flex-wrap: nowrap;
  }

  &__label {
    margin-top: 8px;
    margin-right: 12px;
    flex-shrink: 0;
    align-self: flex-start;
  }

  &__filters {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__filters-item {
    margin-right: 12px;

    a {
      margin: 4px 0;
      display: block;
      border: 1px solid $blue-tint;
      border-radius: 3px;
      padding: 2px 6px;
    }

    &--label {
      margin-right: 4px;
    }
  }

  &__filters-clear {
    a {
      margin: 4px 0;
      display: block;
      background: $teal-dark;
      color: $white;
      border-radius: 3px;
      padding: 2px 6px;
    }
  }
}
