// Footer Grid
.footer {
  &__row { 
    display: flex; 
    @include breakpoint($small-only) { flex-direction: column; }
  }
  &__column-0 { flex: 0; }
  &__column-1 { 
    flex: 1;
    @include breakpoint($small-only) { min-width: 100px; }
  }
  &__column-2 { 
    flex: 2; 
    @include breakpoint($small-only) { min-width: 200px; }
  }
  &__column-3 { flex: 3; }
}

// Footer Structure and Visuals
.footer {
  padding-top: 24px;
  background-color: hsla(var(--base-hsl), 1);

  ul { 
    list-style-type: none; 
    padding: 0;

    a { text-decoration: none; }
  }

  a {
    color: hsla(var(--white-hsl), 1);
    text-decoration: underline;
    text-underline-offset: under;

    &:hover {
      color: hsla(var(--white-hsl), 1);
      text-decoration: underline;
    }
  }

  @include breakpoint($large) {
    padding-top: 48px;
  }

  &__row:first-of-type { 
    padding-bottom: 36px;
    border-bottom: 1px solid hsla(var(--white-hsl), .2); 
  }

  &__row {
    padding: 16px 0;
  }
  
  &__section {
    @include small_text;
    color: hsla(var(--white-hsl), .7);
    padding: 24px 0 16px;

    & + & { 
      @include breakpoint($medium-up) { margin-left: 48px; }
    }

    & li { margin-top: 8px; }
  }

  &__heading {
    @include h4;
    font-weight: bold;
    letter-spacing: 1px;
    color: hsla(var(--yellow-hsl), 1);
    margin-bottom: 16px;
  }

  &__branding,
  &__social { 
    display: flex; 
    align-items: center;
  }

  &__branding {
    @include breakpoint($small-only) { 
      flex-direction: column; 
      text-align: center;

    }
  }

  &__logo { 
    opacity: .3; 
    @include breakpoint($small-only) {
      margin-bottom: 16px;
    }
  }

  &__tagline { 
    padding-bottom: 4px;
    color: hsla(var(--white-hsl), 1);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    @include breakpoint($small-only) { margin-bottom: 16px; }
    @include breakpoint($medium-up) { margin-left: 48px; }
    @include breakpoint($large) { font-size: 1.3rem; }
  }

  &__social {
    justify-content: flex-end;

    @include breakpoint($small-only) { justify-content: center; }

    * + * { margin-left: 24px;}
    .github-icon { line-height: 3px; }
    .twitter-icon { line-height: 8px; }
  }

  &__small-print {
    @include small_text;
    border-top: 1px solid hsla(var(--white-hsl), .2);
    padding-top: 16px;
    padding-bottom: 12px;
    color: hsla(var(--white-hsl), .7);
  }

  .edit-github { float: right; }

  &__policy-links {
    a { display: inline-block; } // To avoid line-breaks in the links
    @include breakpoint($medium-up) { text-align: right; }
  }
}

.footer {
  p a:hover { color: hsla(var(--white-hsl), 1); }
}