.homepage-card {
  text-align: center;
  margin-bottom: 32px;

  &__title {
    font-weight: normal;
  }

  &__title-numbers {
    color: $orange;
    display: block;
    font-size: 56px;
    font-weight: 500;
  }

  &__description {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 40px;
  }
}
