.layout {
  min-height: 100vh;

  &__content { width: 100%; }
  
  &__content,
  &__sidebar {
    
  }

  &__content-inner {
    padding-top: 54px;
    padding-bottom: 64px;
  }

  &--single-column {
    display: grid;
    grid-template-areas: 
      "header"
      "content"
      "footer";
      
    .layout__content { 
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--narrow .layout__content { max-width: 700px; }
  &--full .layout__content { 
    max-width: 100vw; 
    width: 100vw; 
  }

  &--two-columns {
    display: grid;
    grid-template-areas: 
      "nav"
      "header"
      "content"
      "footer";

    @include breakpoint($medium) {
      grid-template-columns: 320px 1fr;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas: 
        "nav nav"
        "header header"
        "sidebar content"
        "footer footer"
    }

    .layout__nav {
      grid-area: nav;
    }

    .layout__header {
      grid-area: header;
    }

    .layout__content {
      grid-area: content;
    }

    .layout__sidebar {
      grid-area: sidebar;

      @include breakpoint($small-only) { display: none; }
    }

    .layout__footer {
      grid-area: footer;
    }
  }
}