.main-logo {
  &--animated {
    #circle-1, #circle-2, #circle-3, #circle-4, #circle-5, #circle-6 {
      transform: scale(0, 0);
      transform-origin: 20% center;
      animation: circleIn 0.25s;
      animation-fill-mode: forwards;
      animation-delay: 0.05s;
      animation-timing-function: cubic-bezier(.48,.04,.89,1.37);

      @media (prefers-reduced-motion) {
        animation: none;
        transform: scale(1, 1);
      }
    }

    #circle-2 {
      animation-delay: 0.2s;
    }

    #circle-3 {
      animation-delay: 0.25s;
    }

    #circle-4 {
      animation-delay: 0.3s;
    }

    #circle-5 {
      animation-delay: 0.35s;
    }

    #circle-6 {
      animation-delay: 0.4s;
    }
  }
}

@keyframes circleIn {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
