.nav-bar {
  display: flex;
  flex-direction: column;
  padding: 8px 24px 14px;

  @include breakpoint($medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__home-button {
    display: block;
    margin: 2px; // margin on this helps keep the focus outline within the viewport
    margin-bottom: 22px;

    @include breakpoint($medium) {
      margin-bottom: 0;
    }
  }
  &__nav-menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 20px;

      @include breakpoint($medium) {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
      }

      li {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .nav-menu__button {
      display: block;
      padding: 8px 0px;
      font-weight: 400;
      font-size: 14px;

      &:hover {
        text-decoration: underline dashed;
        text-underline-offset: 2px;
      }
      @include breakpoint($medium) {
        padding: 16px 6px;
      }
    }
  }
}
