
.search-summary {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &--header {
    display: flex;
    flex-direction: column;

    @include breakpoint($medium) {
      flex-direction: row;
    }
  }

  &--title {
    font-size: 1.125rem;
    color: $white;
    background: $blue-tint-dark;
    line-height: 120%;
    font-weight: 700;
    padding: 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &--description {
    color: $black;
    background: $yellow-tint-darker;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;

    @include breakpoint($medium) {
      padding: 0.9rem 1.125rem;
    }

    a {
      color: $black;
      text-decoration: solid underline;
      font-weight: 700;

      &:hover {
        text-decoration: dashed underline;
      }
    }
  }

  &--main {
    background: $yellow-tint;

    @include breakpoint($medium) {
      display: flex;
      flex-direction: row;
    }

    &__left-column {
      padding: 1rem;
      width: 100%;

      @include breakpoint($large) {
        display: flex;

        .graph-item:first-of-type {
          margin-right: 1rem;
        }
      }
    }

    &__right-column {
      position: relative;
      width: 100%;
    }

    .graph-label {
      font-size: 0.9375rem;
      font-weight: 500;
      padding: 1rem;
      padding-top: 0;
      line-height: 110%;
    }

    .summary-content {
      &--item {
        background: $yellow-tint-off;
        padding: 0.625rem;
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 110%;

        @include breakpoint($large) {
          padding-right: 180px; /* The width of the absolute positioned illustration */
        }
      }

      &--item:nth-of-type(even) {
        background: $yellow-tint-dark;
      }
    }

    .summary-illustration {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      background: $yellow-tint-off;
      border-top: 0.5rem solid $yellow-tint-dark;

      @include breakpoint($large) {
        position: absolute;
        right: 1rem;
        top: -0.2rem;

        background: none;
        border-top: none;
      }
    }
  }

  &--footer {
    &__details {
      &[open] {
        summary {
          .summary-icon {
            svg {
              transform: rotateX(180deg);
            }
          }

          &:hover {
            .summary-icon {
              svg {
                transform: translateY(-2px) rotateX(180deg);
              }
            }
          }
        }
      }
    }

    summary {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $orange-tint-lighter;
      padding: 0.8rem 1rem;

      &::-webkit-details-marker {
        display: none;
      }

      &:hover {
        cursor: pointer;

        .summary-icon {
          svg {
            transform: translateY(2px);
          }
        }
      }
    }

    .summary-label {
      font-size: 1rem;
      line-height: 130%;
      font-weight: 700;
    }

    .summary-icon {
      border: 1px solid $black;
      border-radius: 100%;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(0px);
      transition: transform 0.2s ease;
      margin-left: 12px;

      svg {
        transition: transform 0.2s ease;
      }
    }

    .summary-footer {

      &--content {
        @include breakpoint($large) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }

      &--item {
        color: $black;
        display: flex;
        padding: 0.625rem;
        font-size: 0.9375rem;
        line-height: 120%;
        background: $yellow-tint;

        @include breakpoint($medium) {
          align-items: center;
        }

        a:not(.alert-tag) {
          color: $black;
          text-decoration: solid underline;

          &:hover {
            text-decoration: dashed underline;
          }
        }

        /* This styling will not work for css grid in 2 columns */
        &:nth-of-type(even) {
          background: $yellow-tint-dark;
        }

        /* Assuming a limited number of selectors needed, it's easier to just write them out */
        @include breakpoint($large) {
          &:nth-of-type(even) {
            background: $yellow-tint;
          }

          &:nth-of-type(2) {
            background: $yellow-tint-dark;
          }

          &:nth-of-type(3) {
            background: $yellow-tint-dark;
          }

          &:nth-of-type(6) {
            background: $yellow-tint-dark;
          }
        }

        &__label {
          font-weight: 500;
          margin-right: 0.5rem;
          white-space: nowrap;
        }


        &__value {
          //display: flex;
          align-items: center;
          vertical-align: middle;

          .alert-tag {
            display: inline-block;
            margin: 0 0.5rem;
          }
        }
      }
    }
  }

  @include breakpoint($medium) {

  }
}
