<div class="filter-group">
  <details class="filter-group__accordion" open>
    <summary class="filter-group__label">
      <div>Funder</div>
      {% include 'tokens/accordion-toggle-icon.html' %}
    </summary>
    <div class="filter-group_contents-wrapper">
        {% include 'components/filters/lists/filter-list-generic-checkboxes.html' with open=True aggregate_data=results.aggregations.fundingOrganizationTSGType filter_title="Funding Organization Type" %}
        {% include 'components/filters/lists/filter-list-funding-org.html' %}
        {% include 'components/filters/lists/filter-list-programme-title.html' %}
    </div>
  </details>
</div>
