<div class="filter-group">
  <details class="filter-group__accordion" open>
    <summary class="filter-group__label">
      <div>Funder</div>
      {% include 'tokens/accordion-toggle-icon.html' %}
    </summary>
    <div class="filter-group_contents-wrapper">
      {% if results.aggregations.fundingOrganizationTSGType.buckets %}
        {% include 'components/filters/lists/filter-list-funding-org-type.html' %}
      {% endif %}
      {% if results.aggregations.fundingOrganizationTSGType.buckets %}
        {% include 'components/filters/lists/filter-list-funding-org.html' %}
      {% endif %}
      {% if results.aggregations.grantProgramme.buckets %}
        {% include 'components/filters/lists/filter-list-programme-title.html' %}
      {% endif %}
    </div>
  </details>
</div>
