<div class="filter-group">
  <details class="filter-group__accordion" open>
    <summary class="filter-group__label">
      <div>Geography</div>
      {% include 'tokens/accordion-toggle-icon.html' %}
    </summary>
    <!-- JS switcher radio button -->
    <div class="filter-group_contents-wrapper">
      {% if results.aggregations.recipientRegionName.buckets %}
        {% include 'components/filters/lists/filter-list-region.html' %}
      {% endif %}
      {% if results.aggregations.recipientDistrictName.buckets %}
        {% include 'components/filters/lists/filter-list-district.html' %}
      {% endif %}
    </div>

    <div class="filter-group_contents-wrapper" style="border: 2px solid rgb(255, 0, 225)">
      {% include 'components/filters/lists/filter-lists-generic-checkboxes.html' with open=True aggregate_data=results.aggregations.beneficiaryDistrictName filter_title="Beneficiary District" %}
      {% include 'components/filters/lists/filter-lists-generic-checkboxes.html' with open=True aggregate_data=results.aggregations.recipientOrgDistrictName filter_title="Recipient District" %}

      {% include 'components/filters/lists/filter-lists-generic-checkboxes.html' with open=True aggregate_data=results.aggregations.beneficiaryRegionName filter_title="Beneficiary Region" %}
      {% include 'components/filters/lists/filter-lists-generic-checkboxes.html' with open=True aggregate_data=results.aggregations.recipientOrgRegionName filter_title="Recipient Region" %}
    </div>
  </details>
</div>
