<div class="filter-group">
  <details class="filter-group__accordion" open>
    <summary class="filter-group__label">
      <div>Recipient</div>
      {% include 'tokens/accordion-toggle-icon.html' %}
    </summary>
        {% include 'components/filters/lists/filter-list-recipient-org-type.html' %}
    <div class="filter-group_contents-wrapper">
      {% if results.aggregations.recipientOrganization.buckets %}
        {% include 'components/filters/lists/filter-list-recipient-org.html' %}
      {% endif %}
    </div>
  </details>
</div>
