{% load get_amount from frontend %}
<div class="filter-list margin-bottom:2">
  <details class="filter-list__accordion" open>
    <summary class="filter-list__label">
      <div>Award Year {% if results.aggregations.awardYear.clear_url %} <a href="{{results.aggregations.awardYear.clear_url}}"> <small>(clear)</small></a> {% endif%}</div>
      {% include 'tokens/accordion-toggle-icon.html' %}
    </summary>
    <div class="filter-list__contents-wrapper">
      {% block filterOption %}
      {% endblock filterOption %}
      <ul class="filter-list__listing">
         {% for bucket in results.aggregations.awardYear.buckets %}
            {% if forloop.counter <= query.extra_context.awardYear_facet_size %}          <li>
            <a class="filter-list__filter-item {% if bucket.selected %} active{% endif %}" href="{{bucket.url}}">
              {% if bucket.from_as_string %} {{bucket.from_as_string}} {% else %} {{bucket.key_as_string}} {% endif %} <small>({{bucket.doc_count|get_amount}})</small>
              {% if bucket.selected %}
                <span class="screen-reader-only">(active filter)</span>
              {% endif%}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </details>
</div>
