{% load get_facet_org_name get_amount from frontend %}
<div class="filter-list">
  <details class="filter-list__accordion" {% if results.aggregations.fundingOrganization.clear_url %} open{% endif %}>
    <summary class="filter-list__label">
      <div>Funding Organizations {% if results.aggregations.fundingOrganization.clear_url %} <a href={{results.aggregations.fundingOrganization.clear_url}}> <small>(clear)</small></a> {% endif%}</div>
      {% include 'tokens/accordion-toggle-icon.html' %}
    </summary>
    <div class="filter-list__contents-wrapper">
      {% block filterOption %}
      {% endblock filterOption %}
      <ul class="filter-list__listing">
        {% for bucket in results.aggregations.fundingOrganization.buckets %}
          <li>
            <a class="filter-list__filter-item {% if bucket.selected %} active{% endif %}" href="{{bucket.url}}">
              {{bucket.key|get_facet_org_name}} <small>({{bucket.doc_count|get_amount}})</small>
              {% if bucket.selected %}
                <span class="screen-reader-only">(active filter)</span>
              {% endif%}
            </a>
          </li>
        {% endfor %}
          {% if results.aggregations.fundingOrganization.buckets|length > 2 %}
          <li>
            <a class="filter-list__expand-button" href="{{see_more_url.fundingOrganization.url}}">
              <span class="see-more">{% if see_more_url.fundingOrganization.more%}See More{% else %}See Less{% endif %}</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </details>
</div>
