{% load get_facet_org_name get_facet_org_id get_amount from frontend %}
<div class="filter-list filter-list--with-checkboxes">
  <details class="filter-list__accordion" {% if results.aggregations.recipientOrganization.clear_url %} open{% endif %}>
    <summary class="filter-list__label">
      <div>Recipient Organizations {% if results.aggregations.recipientOrganization.clear_url %} <a href={{results.aggregations.recipientOrganization.clear_url}}> <small>(clear)</small></a> {% endif%}</div>
      {% include 'tokens/accordion-toggle-icon.html' %}
    </summary>
    <div class="filter-list__contents-wrapper facet-multiselect">
      <form class="filter-list__form" id="recipientOrganization-select" data-param="recipientOrganization" action="#">
        {% block filterRadios %}
          <div class="filter-list__form--radios radio">
            <div class="filter-list__form--radio-item">
              <input class="screen-reader-only" type="radio" id="recipientOrganization-include" data-target="#recipientOrganization-select" name="recipientOrganization-exclude" value="false" {% if not results.aggregations.recipientOrganization.exclude %}checked{%endif%}>
              <label for="recipientOrganization-include">Include selected</label>
            </div>
            <div class="filter-list__form--radio-item">
              <input class="screen-reader-only" type="radio" id="recipientOrganization-exclude" data-target="#recipientOrganization-select" name="recipientOrganization-exclude" value="true" {% if results.aggregations.recipientOrganization.exclude %}checked{%endif%}>
              <label for="recipientOrganization-exclude">Exclude Selected</label>
            </div>
          </div>
        {% endblock filterRadios %}


        <div class="search-box-wrapper padding-left:05 padding-right:05 padding-top:05 padding-bottom:05">
          <select class="filter-search-box recipientOrganization-search-box" multiple="multiple">
            {% for key, selected in selected_facets.items %}
              {% if key == 'Recipients' or key == 'Excluded Recipients' %}
                {% for item in selected %}
                   <option value="{{item.url}}" selected="selected">{{item.display_value}}</option>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </select>
        </div>

      </form>
    </div>
  </details>
</div>
