{% load get_facet_org_name get_facet_org_id get_amount from frontend %}
<div class="filter-list filter-list--with-checkboxes">
  <details class="filter-list__accordion" {% if results.aggregations.fundingOrganization.clear_url %} open{% endif %}>
    <a class="anchor" id="fundingOrganization"></a>
    <summary class="filter-list__label">
      <div>Funding Organizations {% if results.aggregations.fundingOrganization.clear_url %} <a href={{results.aggregations.fundingOrganization.clear_url}}> <small>(clear)</small></a> {% endif%}</div>
      {% include 'tokens/accordion-toggle-icon.html' %}
    </summary>
    <div class="filter-list__contents-wrapper facet-multiselect">
      <form class="filter-list__form" id="fundingOrganization-select" data-param="fundingOrganization" action="#">
        {% block filterRadios %}
          <div class="filter-list__form--radios radio">
            <div class="filter-list__form--radio-item">
              <input class="screen-reader-only" type="radio" id="fundingOrganization-include" data-target="#fundingOrganization-select" name="fundingOrganization-exclude" value="false" {% if not results.aggregations.fundingOrganization.exclude %}checked{%endif%}>
              <label for="fundingOrganization-include">Include selected</label>
            </div>
            <div class="filter-list__form--radio-item">
              <input class="screen-reader-only" type="radio" id="fundingOrganization-exclude" data-target="#fundingOrganization-select" name="fundingOrganization-exclude" value="true" {% if results.aggregations.fundingOrganization.exclude %}checked{%endif%}>
              <label for="fundingOrganization-exclude">Exclude Selected</label>
            </div>
          </div>
          {% if results.aggregations.fundingOrganization.buckets|length >= 5000 %}<b>Warning:</b> More than 5000 Recipient Organizations found. Can only select first 5000. {% endif %}
        {% endblock filterRadios %}
        <ul class="filter-list__listing facet-options" id="fundingOrganization-select" data-param="fundingOrganization">
          {% for bucket in results.aggregations.fundingOrganization.buckets %}
            <li>
              <div class="filter-list__form--checkbox-item">
                <input class="screen-reader-only" value={{bucket.key|get_facet_org_id}} id="{{bucket.key|get_facet_org_id}}" type="checkbox"{% if bucket.selected %} checked{% endif %}>
                <label for="{{bucket.key|get_facet_org_id}}">{{bucket.key|get_facet_org_name}} <small>({{bucket.doc_count|get_amount}})</small></label>
              </div>
            </li>
          {% endfor %}
        </ul>

        {% comment %} This section was in the spec but isn't currently functional. {% endcomment %}
        {% comment %} <div class="filter-list__form--summary">
          <div class="filter-list__form--summary-label">Selected:</div>
          <ul class="filter-list__form--summary-contents">
            {% for filterItem in filterItems %}
              <li data-option-id="{{ filterItem.value }}" class="filter-list__form--summary-item {% if filterItem.checked == true %} active{% endif %}">
                <button class="filter-list__form--summary-button">
                  <span class="screen-reader-only">(remove)</span>
                  <span class="filter-list__form--summary-button__label">{{ filterItem.label }}</span>
                  {% include 'tokens/accordion-toggle-icon.html' %}
                </button>
              </li>
            {% endfor %}
          </ul>
        </div> {% endcomment %}

        <div class="filter-list__form--actions">
          <input class="filter-list__contents--form-submit" id="fundingOrganization-submit" type="submit" value="Apply" form="fundingOrganization-select">
          <input class="filter-list__contents--form-clear" id="fundingOrganization-clear" type="submit" value="Clear all" form="fundingOrganization-select">
        </div>
      </form>
    </div>
  </details>
</div>
