

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.indent {
  margin-left: 15px
}

.tab {
  margin-right: 20px
}

.list-group-compact {
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
















