{% extends 'base.html' %}
{% load i18n %}
{% block main_content %}

<div>
  <h1>{% trans "Take Down Policy" %}</h1>
  <p>{% blocktrans %}This policy sets out what 360Giving will do if it receives a request to remove data that is published to the 360Giving Data Standard.{% endblocktrans %}</p>

  <p>{% blocktrans %}Further details can be found on the 360Giving website at: <a href="http://www.threesixtygiving.org/take-down-policy/">http://www.threesixtygiving.org/take-down-policy/</a>{% endblocktrans %}</p>

</div>

{% endblock %}
