<!-- this is used by both the custom csv field chooser list box and the direct csv download button  -->
<script id="recommended-fields-list" type="application/json">
[
"result.id",
"result.title",
"result.description",
"result.currency",
"result.amountAwarded",
"result.awardDateDateOnly",

"result.plannedDates.0.startDateDateOnly",
"result.plannedDates.0.endDateDateOnly",
"result.plannedDates.0.duration",

"result.grantProgramme.0.code",
"result.grantProgramme.0.title",
"result.grantProgramme.0.url",

"result.recipientOrganization.0.id",
"result.recipientOrganization.0.name",
"result.recipientOrganization.0.charityNumber",
"result.recipientOrganization.0.companyNumber",
"result.recipientOrganization.0.postalCode",
"result.recipientOrganization.0.location.0.name",
"result.recipientOrganization.0.location.0.geoCodeType",
"result.recipientOrganization.0.location.0.geoCode",

"result.beneficiaryLocation.0.name",
"result.beneficiaryLocation.0.geoCode",
"result.beneficiaryLocation.0.geoCodeType",

"result.recipientIndividual.id",
"result.recipientIndividual.name",

"result.fundingOrganization.0.id",
"result.fundingOrganization.0.name",

"result.dateModified",

"result.additional_data.recipientRegionName",
"result.additional_data.recipientDistrictName",
"result.additional_data.TSGFundingOrgType",
"result.additional_data.TSGRecipientType",
"result.simple_grant_type",
"result.additional_data.recipientOrgInfos.0.organisationTypePrimary",
"result.additional_data.GNRecipientOrgRegionName",
"result.additional_data.GNRecipientOrgDistrictName",
"result.additional_data.GNBeneficiaryRegionName",
"result.additional_data.GNBeneficiaryDistrictName",
"result.additional_data.GNBeneficiaryCountyName",
"result.additional_data.GNRecipientOrgCountyName",
"result.additional_data.GNBestCountyName",

"result.additional_data.metadata.source_license_name",
"result.additional_data.metadata.source_license",
"result.additional_data.metadata.sources_metadata.recipientOrgInfos.license",
"result.additional_data.metadata.sources_metadata.locationLookup.license",
"result.additional_data.metadata.sources_metadata.recipientOrganizationLocation.license",
"result.additional_data.metadata.sources_metadata.codeListLookup.license"
]
</script>